legend{margin-left:0}
.cdlCadre hr{margin:4px 0}
ol,ul{height:1%}
h1,h2,h3,h4,h5,h6{height:1%}
select{margin-bottom:2px;vertical-align:-2px}
input.cdlInputText,.cdlInputText input{vertical-align:-.1em}
.cdlCadre{padding:8px !important;padding:8px .8%;width:auto !important;width:97.9%;border-width:2px !important;border-width:2px .2%;overflow:auto;overflow-y:visible !important}