<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="###LANGUAGE###" lang="###LANGUAGE###">
	<head>
		<title>Accès à une page protégée</title>
		<link href="/favicon.png" rel="shortcut icon" />
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<link href="/le-filtre/styles.css" rel="stylesheet" type="text/css" />
		<!--[if IE]>
		<link href="/le-filtre/styles_ie.css" rel="stylesheet" type="text/css" />
		<![endif]-->
	</head>
	<body>
		<div class="cdlGlobalPage">
			<div class="errorContent">
				<div class="cdlCadreContainer">
					<div class="cdlCadre">
						<p>Vous allez accéder à une page qui est protégée. Veuillez saisir votre identifiant et votre mot de passe.</p>
						<br />
						<div class="">###ERROR_LOGIN_MESSAGE###</div>
						<form class="cdlLoginForm" method="get" action="">
							<div>
###HIDDEN_PARAMETERS###
								<input type="hidden" name="cdlact" value="c" />

								<div class="cdlLabelDiv"><label for="cdllogin">Nom d'utilisateur :&nbsp;</label></div>
								<div class="cdlFieldDiv"><input class="cdlInputText" type="text" id="cdllogin" name="cdllogin" value="Nom d'utilisateur" /></div>
								<div class="cdlClearBoth"></div>
								<div class="cdlLabelDiv"><label for="cdlpasswd">Mot de passe :&nbsp;</label></div>
								<div class="cdlFieldDiv"><input class="cdlInputText" type="password" id="cdlpasswd" name="cdlpasswd" /></div>
								<div class="cdlClearBoth"></div>
								<br />
								<div class="cdlButtons">
									<input type="submit" name="cdlvalider" value="Valider" />
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="cdlFoot">
			<p>&copy; 2007 - Confort De Lecture</p>
		</div>
	</body>
</html>