<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
	<head>
		<title>###PAGE_TITLE### - Interface de configuration</title>
		<link href="/favicon.png" rel="shortcut icon" />
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<link href="/admin/config_styles.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div>
			###SITES_LIST###
			<!--###EDIT_FORM###-->
			<a href="/admin/sites">Retour à la liste des sites</a><br />
			<form action="/admin/edit/###SITE_ID###" method="get">
				<div>
					<div class="center">###MESSAGE###</div>
					<div class="clearBoth"></div><br />
<!--###SITE_ID_FIELD###-->
					<div class="formLine">
						<div class="leftForm"><label for="siteId">Identifiant du site :&nbsp;<br /><span class="info">caractères autorisés : caractères alphanumériques, le point '.', le tiret '-' et le souligné '_'&nbsp;&nbsp;</span></label></div>
						<div class="rightForm"><input class="text" type="text" id="siteId" name="siteId" value="###SITE_ID_VALUE###" /></div>
						<div class="clearBoth"></div>
					</div>
<!--/###SITE_ID_FIELD###-->
<!--###SITE_ID_TITLE###-->					<div class="formLine">
						<div class="leftForm"><span class="blueText">Identifiant du site :&nbsp;</span></div>
						<div class="rightForm"><h1 class="noMargin">###SITE_ID###</h1></div>
						<div class="clearBoth"></div>
					</div>
<!--/###SITE_ID_TITLE###-->
					<fieldset>
						<legend>Adresses et URIs du site</legend>
						<div class="formLine">
							<div class="leftForm"><label for="siteDomainName">Noms de domaine :&nbsp;</label></div>
							<div class="rightForm"><input class="text" type="text" id="siteDomainName" name="siteDomainName" value="###SITE_DOMAIN_NAME###" />&nbsp;<input type="submit" name="ajouterSiteDomainNames" class="add" value="ajouter" title="ajouter le nom de domaine" />
							###SITE_DOMAINE_NAMES_LIST###</div>
							<div class="clearBoth"></div>
						</div>
						<div class="formLine">
							<div class="leftForm"><label for="homePageUri">URIs de page d'accueil :&nbsp;</label></div>
							<div class="rightForm"><input class="text" type="text" id="homePageUri" name="homePageUri" value="###HOME_PAGE_URI###" />&nbsp;<input type="submit" name="ajouterHomePageUris" class="add" value="ajouter" title="ajouter le nom de domaine" />
							###HOME_PAGE_URIS_LIST###</div>
							<div class="clearBoth"></div>
						</div>
					</fieldset>
					<div class="clearBoth"></div>
<!-- Cette fonctionalité sera activée très prochainement
					<fieldset>
						<legend>Javascript</legend>
						<div class="formLine">
							<div class="leftForm">Activer le javascript :&nbsp;<br /><span class="info">si l'internaute ne précise rien.&nbsp;&nbsp;<br />(si 'non' est coché, le fonctionnement alternatif est activé)&nbsp;&nbsp;</span></div>
							<div class="rightForm"><span class="radio"><input type="radio" id="activateJavascript1" name="activateJavascript" value="1"###ACTIVATE_JS_YES### /><label for="activateJavascript1">oui</label>&nbsp;&nbsp;<input type="radio" id="activateJavascript0" name="activateJavascript" value="0"###ACTIVATE_JS_NO### /><label for="activateJavascript0">non</label></span></div>
							<div class="clearBoth"></div>
						</div>
						<div class="formLine">
							<div class="leftForm">Transformer le javascript :&nbsp;</div>
							<div class="rightForm"><span class="radio"><input type="radio" id="parseJavascript1" name="parseJavascript" value="1"###PARSE_JS_YES### /><label for="parseJavascript1">oui</label>&nbsp;&nbsp;<input type="radio" id="parseJavascript0" name="parseJavascript" value="0"###PARSE_JS_NO### /><label for="parseJavascript0">non</label></span></div>
							<div class="clearBoth"></div>
						</div>
					</fieldset>
					<div class="clearBoth"></div>
					<fieldset>
						<legend>Frames/IFrames</legend>
						<div class="formLine">
							<div class="leftForm">Activer les frames/iframes :&nbsp;<br /><span class="info">si l'internaute ne précise rien.&nbsp;&nbsp;<br />(si 'non' est coché, le contenu alternatif est affiché)&nbsp;&nbsp;</span></div>
							<div class="rightForm"><span class="radio"><input type="radio" id="activateFrames1" name="activateFrames" value="1"###ACTIVATE_FRAMES_YES### /><label for="activateFrames1">oui</label>&nbsp;&nbsp;<input type="radio" id="activateFrames0" name="activateFrames" value="0"###ACTIVATE_FRAMES_NO### /><label for="activateFrames0">non</label></span></div>
							<div class="clearBoth"></div>
						</div>
					</fieldset>
					<div class="clearBoth"></div>
					<fieldset>
						<legend>Médias</legend>
						<div class="formLine">
							<div class="leftForm">Afficher les images :&nbsp;<br /><span class="info">si l'internaute ne précise rien.&nbsp;&nbsp;<br />(si 'non' est coché, le contenu alternatif est affiché)&nbsp;&nbsp;</span></div>
							<div class="rightForm"><span class="radio"><input type="radio" id="displayImages1" name="displayImages" value="1"###DISPLAY_IMAGES_YES### /><label for="displayImages1">oui</label>&nbsp;&nbsp;<input type="radio" id="displayImages0" name="displayImages" value="0"###DISPLAY_IMAGES_NO### /><label for="displayImages0">non</label></span></div>
							<div class="clearBoth"></div>
						</div>
						<div class="formLine">
							<div class="leftForm">Afficher les objects :&nbsp;<br /><span class="info">si l'internaute ne précise rien.&nbsp;&nbsp;<br />(si 'non' est coché, le contenu alternatif est affiché)&nbsp;&nbsp;</span></div>
							<div class="rightForm"><span class="radio"><input type="radio" id="displayObjects1" name="displayObjects" value="1"###DISPLAY_OBJECTS_YES### /><label for="displayObjects1">oui</label>&nbsp;&nbsp;<input type="radio" id="displayObjects0" name="displayObjects" value="0"###DISPLAY_OBJECTS_NO### /><label for="displayObjects0">non</label></span></div>
							<div class="clearBoth"></div>
						</div>
						<div class="formLine">
							<div class="leftForm">Afficher les applets :&nbsp;<br /><span class="info">si l'internaute ne précise rien.&nbsp;&nbsp;<br />(si 'non' est coché, le contenu alternatif est affiché)&nbsp;&nbsp;</span></div>
							<div class="rightForm"><span class="radio"><input type="radio" id="displayApplets1" name="displayApplets" value="1"###DISPLAY_APPLETS_YES### /><label for="displayApplets1">oui</label>&nbsp;&nbsp;<input type="radio" id="displayApplets0" name="displayApplets" value="0"###DISPLAY_APPLETS_NO### /><label for="displayApplets0">non</label></span></div>
							<div class="clearBoth"></div>
						</div>
					</fieldset>
					<div class="clearBoth"></div>
					<fieldset>
						<legend>Tables</legend>
						<div class="formLine">
							<div class="leftForm">Linéariser les tableaux :&nbsp;<br /><span class="info">si l'internaute ne précise rien.&nbsp;&nbsp;<br />(transformer en listes à puce)&nbsp;&nbsp;</span></div>
							<div class="rightForm"><span class="radio"><input type="radio" id="parseTablesToList1" name="parseTablesToList" value="1"###PARSE_TABLES_YES### /><label for="parseTablesToList1">oui</label>&nbsp;&nbsp;<input type="radio" id="parseTablesToList0" name="parseTablesToList" value="0"###PARSE_TABLES_NO### /><label for="parseTablesToList0">non</label></span></div>
							<div class="clearBoth"></div>
						</div>
					</fieldset>
					<div class="clearBoth"></div>
-->
					<fieldset>
						<legend>Titre, langue et logo du site</legend>
						<div class="formLine">
							<div class="leftForm"><label for="siteLabel">Titre du site :&nbsp;</label></div>
							<div class="rightForm"><input class="text" type="text" id="siteLabel" name="siteLabel" value="###SITE_LABEL###" /></div>
							<div class="clearBoth"></div>
						</div>
						<div class="formLine">
							<div class="leftForm"><label for="defaultLanguage">Langue par défaut du site :&nbsp;</label></div>
							<div class="rightForm"><input class="text" type="text" id="defaultLanguage" name="defaultLanguage" value="###DEFAULT_LANGUAGE###" /></div>
							<div class="clearBoth"></div>
						</div>
						<div class="formLine">
							<div class="leftForm"><label for="logo">Logo du site :&nbsp;</label></div>
							<div class="rightForm"><input class="text" type="text" id="logo" name="logo" value="###SITE_LOGO###" /><br /><!--###LOGO_IMG###--><img src="###SITE_LOGO###" alt="logo du site : ###SITE_LABEL###" class="siteLogo" /><!--/###LOGO_IMG###--></div>
							<div class="clearBoth"></div>
						</div>
					</fieldset>
					<div class="clearBoth"></div>
					<div class="center">
						<input type="submit" name="valider" value="Valider" class="submit" />
					</div>
				</div>
			</form>
			<!--/###EDIT_FORM###-->
		</div>
		<div>
			<p>&copy; 2007 - Confort De Lecture</p>
		</div>
	</body>
</html>