* {font-family:"Lucida Sans", "Lucida Sans Unicode", verdana, sans-serif;}
body {font-size:80%;}
.formLine {margin-bottom:.2em;}
a {font-weight:bold;}
label {display:block;}
.leftForm {float:left;width:50%;text-align:right;padding:.2em 0 0 0;}
input {vertical-align:middle;}
input.text {width:75%;border:1px solid black;padding:1px;}
.rightForm {float:left;width:50%;}
.clearBoth {clear:both;}
img {border:none;vertical-align:middle;}
.center {text-align:center;}
.submit {padding:5px 10px;}
fieldset {margin-bottom:10px;overflow:hidden;border:2px solid #006;}
legend {padding:0 5px;font-weight:bold;}
ul, li {padding:0;margin:3px 0 0 7px;}
li {line-height:1em;}
.messageOk {font-weight:bold;border:2px solid #090;color:#090;padding:3px 10px;display:inline;}
.messageErr {font-weight:bold;border:2px solid #C00;color:#C00;padding:3px 10px;display:inline;}
.radio label {display:inline;vertical-align:middle;}
.radio input {margin-bottom:.3em;}
span.info {font-size:90%;}
.siteLogo {margin-top:5px;}
.black {color:black;}
#siteId {width:74%;}
.blueText {font-weight:bold;vertical-align:middle;color:#009;}
.noMargin {margin:-.25em 0 0 0;}
form {margin:0;padding:0;}