<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="###LANGUAGE###" lang="###LANGUAGE###">
	<head>
		<title>Ouverture / T&eacute;l&eacute;chargement d'un document</title>
		<link href="/favicon.png" rel="shortcut icon" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="/le-filtre/styles.css" rel="stylesheet" type="text/css" />
		<!--[if IE]>
		<link href="/le-filtre/styles_ie.css" rel="stylesheet" type="text/css" />
		<![endif]-->
		<script type="text/javascript">
			function _closeWindow() {
				window.open('','_parent','');
				window.close();
			}
		</script>
	</head>
	<body>
		<div class="cdlGlobalPage">
			<div class="errorContent">
				<div class="cdlCadreContainer">
					<div class="cdlCadre">
						<p>Vous allez acc&eacute;der &agrave; un document de type : ###DOCUMENT_TYPE###.</p>
						<br />
						<p>Que souhaitez-vous faire ?</p>
						<ul>
							<li><a href="###DOCUMENT_OPEN_URL###">Ouvrir le document</a></li>
							<li><a href="###DOCUMENT_DOWNLOAD_URL###">T&eacute;l&eacute;charger le document</a></li>
							<!--###PREVIOUS_PAGE_BLOCK###--><li><a href="###PREVIOUS_PAGE###" onclick="if (history.length > 1) {history.back();} else {if (confirm('Il n\'y a pas de page pr&eacute;c&eacute;dente, voulez vous fermer la fen&ecirc;tre ?')) _closeWindow();} return false;">Annuler et retourner &agrave; la page pr&eacute;c&eacute;dente</a></li><!--/###PREVIOUS_PAGE_BLOCK###-->
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="cdlFoot">
			<p>&copy; 2007 - Confort de lecture</p>
		</div>
	</body>
</html>