<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="###LANGUAGE###" lang="###LANGUAGE###">
	<head>
		<title>###DOCUMENT_TITLE###</title>
		<base href="###BASE_HREF###" />
###METAS###
###LINKS###
		<link href="/le-filtre/styles.css" rel="stylesheet" type="text/css" />
		<!--[if IE]>
		<link href="/le-filtre/styles_ie.css" rel="stylesheet" type="text/css" />
		<![endif]-->

###SCRIPTS###	</head>
	<body###BODY_ATTRIBUTES###>
		<div class="cdlGlobalPage">
			<div class="cdlTopPage">
###PAGE_TOP###			</div>
			<div class="cdlPageContent">
###BLOCS###			</div>
			<div class="cdlPageNavigation">
###NAVS###			</div>
			<div class="cdlBackHome">
###BACK_HOME_LINK###
			</div>
		</div>
		<div class="cdlModifyStyleParametersLinks">
			<a href="###STYLE_PERSONALIZATION_LINK####fond" accesskey="1">Modifiez votre affichage</a>
		</div>
		<div class="cdlFoot">
			<p>&copy; 2007 - Confort De Lecture</p>
		</div>
		<div><a class="lienInvisible" href="###THIS_PAGE_URL###"><span class="cdlCache">Version originale de la page</span></a></div>
	</body>
</html>