<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="###LANGUAGE###" lang="###LANGUAGE###">
	<head>
		<title>Erreur ###ERROR_NUMBER### sur la page demand&eacute;e</title>
		<link href="/favicon.png" rel="shortcut icon" />
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<link href="/le-filtre/styles.css" rel="stylesheet" type="text/css" />
		<!--[if IE]>
		<link href="/le-filtre/styles_ie.css" rel="stylesheet" type="text/css" />
		<![endif]-->
	</head>
	<body>
		<div class="cdlGlobalPage">
			<div class="errorContent">
				<div class="cdlCadreContainer">
					<div class="cdlCadre">
						<p>Erreur :<br />###ERROR_CODE###<br /><br />sur la page :<br /><a href="###PAGE_ON_ERROR_URL###">###PAGE_ON_ERROR_URL###</a></p><br />
						<p><a href="###CDL_PAGE_URL###">Vous pouvez r&eacute;essayer en cliquant ici</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="cdlFoot">
			<p>&copy; 2007 - Confort De Lecture</p>
		</div>
	</body>
</html>