<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="###LANGUAGE###" lang="###LANGUAGE###">
	<head>
		<title>Sortie de Confort De Lecture</title>
		<link href="/favicon.png" rel="shortcut icon" />
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<link href="/le-filtre/styles.css" rel="stylesheet" type="text/css" />
		<!--[if IE]>
		<link href="/configuration/templates/style_ie.css" rel="stylesheet" type="text/css" />
		<![endif]-->
		<script type="text/javascript">
			function _closeWindow() {
				window.open('','_parent','');
				window.close();
			}
		</script>
	</head>
	<body>
		<div class="cdlGlobalPage">
			<div class="errorContent">
				<div class="cdlCadreContainer">
					<div class="cdlCadre">
						<p>Vous allez acc&eacute;der &agrave; une page qui ne prend pas en compte Confort De Lecture.</p>
						<br />
						<p>Voulez vous vraiment acc&eacute;der &agrave; la page <br />###EXTERNAL_URL###<br /><br /><span class="cdlExitFromCdlLinks"><a href="###EXTERNAL_URL###" class="cdlBoldLink">Oui</a>&nbsp;|&nbsp;<a href="###PREVIOUS_PAGE###" onclick="if (history.length > 1) {history.back();} else {if (confirm('Il n\'y a pas de page pr&eacute;c&eacute;dente, voulez vous fermer la fen&ecirc;tre ?')) _closeWindow();} return false;" class="cdlBoldLink" title="Non, retourner à la page pr&eacute;c&eacute;dente">Non</a></span></p>
					</div>
				</div>
			</div>
		</div>
		<div class="cdlFoot">
			<p>&copy; 2007 - Confort de lecture</p>
		</div>
	</body>
</html>