RewriteEngine On

RewriteRule ^le\-filtre\/styles\.css /filtre/styles.pl [L]
RewriteRule ^le\-filtre\/styles_ie\.css /filtre/styles.pl?n=ie [L]

RewriteRule ^le\-filtre$ /filtre/index.pl [L]
RewriteRule ^le\-filtre\/.* /filtre/index.pl [L]


RewriteRule ^document\/[^\/]*?\/[^\/]*?\/[^\/]*?\/[^\/]*?\/cdl\-url\/.*$ /filtre/document.pl [L]
RewriteRule ^document\/(ouvrir|telecharger)\/[^\/]*?\/[^\/]*?\/[^\/]*?\/[^\/]*?\/cdl\-url\/.*$ /filtre/document.pl [L]


RewriteRule ^acces-protege\/.*$ /filtre/access_protected_site.pl [L]
RewriteRule ^sortie\/.*?\/.*$ /filtre/exit_from_cdl.pl [L]


RewriteRule ^admin\/documentation\/generate /configuration/admin/documentation/generate_documentation.pl [L]


RewriteRule ^admin\/config_styles\.css /configuration/admin/sites/config_styles.pl [L]
RewriteRule ^admin\/images\/(.*) /configuration/admin/sites/images/$1 [L]

RewriteRule ^admin\/.* /configuration/admin/sites/config.pl [L]