*{font-family:Verdana,"Lucida Sans","Lucida Sans Unicode",sans-serif}
body{font-size:80%}
.formLine{margin-bottom:.2em;overflow:hidden}
a{font-weight:bold;color:#006666}
label{display:block}
.leftForm{float:left;width:50%;text-align:right}
.leftForm label{padding-top:.2em}
input{vertical-align:middle}
input.text{width:75%;border:1px solid black;padding:1px 3px;border-radius:5px;-moz-border-radius:5px;-WebKit-border-radius:5px;-khtml-border-radius:5px}
.rightForm{float:left;width:50%}
.rightForm .add{font-weight:bold}
.hidden{display:none}
img{border:none;vertical-align:middle}
.center{text-align:center}
.submit{padding:2px 5px;font-weight:bold;font-size:110%}
fieldset{margin-bottom:2px;overflow:hidden;border:2px solid #006;border-radius:7px;-moz-border-radius:7px;-WebKit-border-radius:7px;-khtml-border-radius:7px}
legend{padding:0 5px;font-weight:bold}
ul, li{padding:0;margin:3px 0 0 10px}
li{line-height:1.2em}
.messageOk{font-weight:bold;border:2px solid #090;color:#090;padding:3px 10px;display:inline-block;border-radius:7px;-moz-border-radius:7px;-WebKit-border-radius:7px;-khtml-border-radius:7px}
.messageErr{font-weight:bold;border:2px solid #C00;color:#C00;padding:3px 10px;display:inline-block;border-radius:7px;-moz-border-radius:7px;-WebKit-border-radius:7px;-khtml-border-radius:7px}
.radio label{display:inline;vertical-align:0}
.radio input{margin-bottom:.3em}
span.info{font-size:90%;color:#888}
.siteLogo{margin-top:2px}
.black{color:black}
.addLink{background:url(../images/add.png) no-repeat 0 50%;padding-left:20px}
#siteId{width:74%}
.blueText{font-weight:bold;vertical-align:middle;color:#009}
.noMargin{margin:-.35em 0 0 0}
form{margin:0;padding:0}
h1{padding:0 0 10px 0;margin:0}
.glossaryForm th{text-align:left}
.glossaryForm table{border-top:1px solid black;border-left:1px solid black;margin:5px 0;width:100%}
.glossaryForm th,.glossaryForm td{border-bottom:1px solid black;border-right:1px solid black;padding:3px 5px}
.glossaryForm .inputTextCell{padding:0 !important}
.glossaryForm td input.text{padding:1px;width:98%;margin:0 0 0 3px}
.glossaryForm .newTermsTable{border-top-width:10px}
.glossaryForm .addLineLink{color:black;background:url(../images/add.png) no-repeat 0 50%;padding-left:20px}
.glossaryForm .deleteLines{color:black;background:url(../images/delete.png) no-repeat 0 50%;padding-left:20px}
p{padding:5px 0 10px 0;margin:0}
#rowsToAdd{border:1px solid black;padding:1px;text-align:right;width:1.5em}