.cdlContrasted .cdlCadre,.cdlContrasted input,.cdlContrasted select,.cdlContrasted .cdlAudioObject{border-color:#000000 !important}
.cdlPersonalizationHeader{margin:0 40px 20px 0;border-bottom-width:2px;padding-bottom:12px;overflow:hidden}
.cdlPersonalizationHeader a{display:block}
.cdlSiteLogo{float:left}
.cdlLogoCdl{float:right}
.cdlLittleArrow,.cdlConfigChoice{margin-bottom:10px}
.cdlLittleArrow{margin-bottom:20px}
.cdlPreview{float:right;margin:-15px 30px 0 0;padding:7px;font-size:65%}
.cdlPreview table{width:80px !important;border-width:0}
.cdlPreview td{text-align:center;height:450px;padding:0 0 .5em !important;border:2px solid #FFFFFF;vertical-align:middle}
.cdlContrasted .cdlPreview td{border-color:#000000}
.cdlPreview span{display:block;text-align:center;text-transform:uppercase}
.cdlConfigChoices{overflow:hidden}
.cdlConfigChoice{float:left}
.cdlConfigChoice ul{padding:0 0 15px 0;overflow:hidden}
.cdlConfigChoice ul li{list-style:none;display:block;float:left;padding:4px}
.cdlConfigChoice ul li:nth-child(2n+1){clear:left}
.cdlConfigChoice ul li a{display:block;float:left;width:64px !important;height:64px;overflow:hidden;color:#000000;border-width:2px;border-color:#000000 !important;border-radius:5px;-moz-border-radius:5px;-WebKit-border-radius:5px;-khtml-border-radius:5px}
.cdlContrasted .cdlConfigChoice ul li a{color:#FFFFFF;border-color:#FFFFFF !important}
.cdlConfigChoice ul li a:hover,.cdlConfigChoice ul li a:focus{border-color:#FFFFFF !important}
.cdlContrasted .cdlConfigChoice ul li a:hover,.cdlContrasted .cdlConfigChoice ul li a:focus{border-color:#000000 !important}
.cdlConfigChoice ul li a span{position:absolute;top:-3000px;left:-3000px}
.cdlConfigChoice .cdlButtons{float:left}
.cdlConfigChoice .cdlButtons input{display:block;min-height:66px;float:left;padding-left:20px;padding-right:20px;font-size:130%}
.cdlButtons input{border-width:2px}
#cdlBackgroundConfigBlack a{border-color:#FFFFFF !important;background-color:#000000}
.cdlContrasted #cdlBackgroundConfigBlack a:hover,.cdlContrasted #cdlBackgroundConfigBlack a:focus{border-color:#000000 !important}
#cdlBackgroundConfigWhite a{background-color:#FFFFFF}
.cdlContrasted #cdlBackgroundConfigWhite a{border-color:#000000 !important}
#cdlBackgroundConfigGreen a{background-color:#009900}
#cdlBackgroundConfigYellow a{background-color:#FFFF00}
#cdlBackgroundConfigBlue a{background-color:#0000FF}
#cdlBackgroundConfigRed a{background-color:#FF0033}
#cdlTextSizeConfig1 a{background:url(###EMBEDDED_URL###/design/images/very_small.png) no-repeat 50% 50%}
#cdlTextSizeConfig2 a{background:url(###EMBEDDED_URL###/design/images/small.png) no-repeat 50% 50%}
#cdlTextSizeConfig3 a{background:url(###EMBEDDED_URL###/design/images/medium.png) no-repeat 50% 50%}
#cdlTextSizeConfig4 a{background:url(###EMBEDDED_URL###/design/images/large.png) no-repeat 50% 50%}
#cdlTextSizeConfig5 a{background:url(###EMBEDDED_URL###/design/images/very_large.png) no-repeat 50% 50%}
.cdlContrasted #cdlTextSizeConfig1 a{background:url(###EMBEDDED_URL###/design/images/very_small_black.png) no-repeat 50% 50%}
.cdlContrasted #cdlTextSizeConfig2 a{background:url(###EMBEDDED_URL###/design/images/small_black.png) no-repeat 50% 50%}
.cdlContrasted #cdlTextSizeConfig3 a{background:url(###EMBEDDED_URL###/design/images/medium_black.png) no-repeat 50% 50%}
.cdlContrasted #cdlTextSizeConfig4 a{background:url(###EMBEDDED_URL###/design/images/large_black.png) no-repeat 50% 50%}
.cdlContrasted #cdlTextSizeConfig5 a{background:url(###EMBEDDED_URL###/design/images/very_large_black.png) no-repeat 50% 50%}
#cdlFontColorConfigBlack a{background:url(###EMBEDDED_URL###/design/images/text_black.png) no-repeat 50% 50%}
#cdlFontColorConfigWhite a{background:url(###EMBEDDED_URL###/design/images/text_white.png) no-repeat 50% 50%}
#cdlFontColorConfigGreen a{background:url(###EMBEDDED_URL###/design/images/text_green.png) no-repeat 50% 50%}
#cdlFontColorConfigYellow a{background:url(###EMBEDDED_URL###/design/images/text_yellow.png) no-repeat 50% 50%}
#cdlFontColorConfigBlue a{background:url(###EMBEDDED_URL###/design/images/text_blue.png) no-repeat 50% 50%}
#cdlLinkColorConfigBlack a{background:url(###EMBEDDED_URL###/design/images/link_black.png) no-repeat 50% 50%}
#cdlLinkColorConfigWhite a{background:url(###EMBEDDED_URL###/design/images/link_white.png) no-repeat 50% 50%}
#cdlLinkColorConfigGreen a{background:url(###EMBEDDED_URL###/design/images/link_green.png) no-repeat 50% 50%}
#cdlLinkColorConfigYellow a{background:url(###EMBEDDED_URL###/design/images/link_yellow.png) no-repeat 50% 50%}
#cdlLinkColorConfigBlue a{background:url(###EMBEDDED_URL###/design/images/link_blue.png) no-repeat 50% 50%}
.cdlConfigChoice ul .choiceSelected{padding:2px !important;border:2px solid #FFFFFF;border-radius:7px;-moz-border-radius:7px;-WebKit-border-radius:7px;-khtml-border-radius:7px}
.cdlContrasted .cdlConfigChoice ul .choiceSelected{border-color:#000000}
.cdlConfigChoice ul .choiceSelected a:hover,.cdlConfigChoice ul .choiceSelected a:focus{border-color:#000000 !important}
.cdlContrasted .cdlConfigChoice ul .choiceSelected a:hover,.cdlContrasted .cdlConfigChoice ul .choiceSelected a:focus{border-color:#FFFFFF !important}
.cdlConfigChoice ul #cdlBackgroundConfigBlack a.linkChoiceSelected{border-color:#000000 !important}
.cdlConfigChoice ul #cdlBackgroundConfigWhite a.linkChoiceSelected{border-color:#000000 !important}
.cdlContrasted .cdlConfigChoice ul #cdlBackgroundConfigBlack a.linkChoiceSelected{border-color:#FFFFFF !important}
.cdlContrasted .cdlConfigChoice ul #cdlBackgroundConfigWhite a.linkChoiceSelected{border-color:#FFFFFF !important}
.cdlConfigChoice ul .choiceSelected a{border-color:#000000 !important}
.cdlArrow1{background:url(###EMBEDDED_URL###/design/images/big_arrow.png) no-repeat 100% 17px;margin-right:125px;height:1%}
.cdlArrow2{background:url(###EMBEDDED_URL###/design/images/big_arrow.png) no-repeat 100% 133px;height:1%}
.cdlArrow3{background:url(###EMBEDDED_URL###/design/images/big_arrow.png) no-repeat 100% 249px}
.cdlArrow4{background:url(###EMBEDDED_URL###/design/images/big_arrow.png) no-repeat 100% 365px;min-height:416px}
.cdlContrasted .cdlArrow1,.cdlContrasted .cdlArrow2,.cdlContrasted .cdlArrow3{background-image:url(###EMBEDDED_URL###/design/images/big_arrow_black.png)}
.cdlAdvancedParameters{float:left;padding-left:15px}
.cdlValidate{width:100% !important;text-align:right}
.cdlLoginForm,.cdlAudioForm,.cdlAdvancedForm,.audioIntro{padding-bottom:10px}
.cdlDisplayParametersForm{padding:10px 0 10px 0}
.cdlConfigChoice .cdlFormFieldsHighlighted{display:block;float:left}
.cdlLabelDiv,.cdlFieldDiv{padding-bottom:10px}
.cdlAdvancedForm .cdlLabelDiv,.cdlAdvancedForm .cdlFieldDiv{padding-bottom:20px}
.cdlAdvancedForm .cdlLabelDiv{padding-top:.5em}
.cdlInfo{font-size:80%;margin-right:1em;display:inline-block}
.cdlInversedColor{background-color:#FFFFFF !important;color:#000000 !important}
.cdlInversedColor *{background-color:#FFFFFF !important;color:#000000 !important;border-color:#000000 !important}
.cdlContrasted .cdlInversedColor{background-color:#000000 !important;color:#FFFFFF !important}
.cdlContrasted .cdlInversedColor *{background-color:#000000 !important;color:#FFFFFF !important;border-color:#FFFFFF !important}
.cdlColors{padding:0;margin:0;overflow:hidden}
.cdlColors li{list-style:none;display:block;float:left;text-align:center;box-sizing: border-box;width:6.25% !important;padding:0.1%;min-width:25px}
.cdlColors li a{display:block;overflow:hidden;color:#000000;padding:5%}
.cdlContrasted .cdlColors li a{color:#FFFFFF}
.cdlColors li a:hover,.cdlColors li a:focus{border:2px solid #FFFFFF;border-radius:5px;-moz-border-radius:5px;-WebKit-border-radius:5px;-khtml-border-radius:5px}
.cdlContrasted .cdlColors li a:hover,.cdlContrasted .cdlColors li a:focus{border-color:#000000}
.cdlColors li a img{display:block;float:left;width:100% !important;min-width:0 !important}
.cdlColors li a .cdlTransPix{display:block}
.cdlColors li a .cdlSpanHidden{position:absolute;top:-3000px;left:-3000px}
.cdlColors .choiceSelected a{border:2px solid #FFFFFF;border-radius:5px;-moz-border-radius:5px;-WebKit-border-radius:5px;-khtml-border-radius:5px}
.cdlContrasted .cdlColors .choiceSelected a{border-color:#000000}
.cdlColors .choiceSelected a .cdlTransPix,.cdlColors li a:hover .cdlTransPix,.cdlColors li a:focus .cdlTransPix{border:none !important}
.cdlColorsForm{padding-bottom:10px}
.cdlLittleArrow strong{font-size:110%}
.cdlUtilLinksContainer{margin-top:-5px}
.cdlUtilLinks input,.cdlUtilLinks span{display:block;overflow:hidden}
.audioHelpIntro ul{padding-top:20px;padding-bottom:5px}
.audioHelpIntro li{padding-bottom:20px}
:root .cdlContrasted .cdlInput_radio,:root .cdlContrasted .cdlInput_checkbox{border-color:#000000}
:root .cdlContrasted .cdlInput_radio:after,:root .cdlContrasted .cdlInput_checkbox:after{border-color:#FFFFFF}
:root .cdlContrasted input[type="radio"]:checked + .cdlInput_radio:after,:root .cdlContrasted input[type="checkbox"]:checked + .cdlInput_checkbox:after{background-color:#000000}