.cdlPersonalizationHeader{margin:0 40px 20px 0;border-bottom-width:2px;padding-bottom:12px;overflow:hidden}
.cdlPersonalizationHeader a{display:block}
.cdlSiteLogo{float:left}
.cdlLogoCdl{float:right}
.cdlLittleArrow,.cdlConfigChoice{margin-bottom:10px}
.cdlLittleArrow{margin-bottom:0;padding-bottom:0;line-height:1.2em;font-size:30px}
.cdlPreview{padding:5px;border-width:.1em;margin:20px 10px 0 15px;border-radius:7px;-moz-border-radius:7px;-WebKit-border-radius:7px;-khtml-border-radius:7px}
.cdlConfigChoices{overflow:hidden;margin-bottom:20px}
.cdlConfigChoicesGroup{float:left;width:50%}
.cdlConfigChoice{float:left;width:50%;min-width:270px;padding:20px 15px 0;box-sizing:border-box;text-align:center}
.cdlConfigChoice ul{padding:0 15px 15px 0;overflow:hidden;background-color:#333333;float:left}
.cdlConfigChoice ul li{list-style:none;display:block;float:left;margin:15px 0 0 15px;padding:4px;background-color:#333333}
.cdlConfigChoice ul li:nth-child(2n+1){clear:left}
.cdlConfigChoice ul li a{position:relative;display:block;float:left;width:86px !important;height:86px;line-height:86px;overflow:hidden;color:#FFFFFF;background-color:transparent;border-radius:5px;-moz-border-radius:5px;-WebKit-border-radius:5px;-khtml-border-radius:5px}
.cdlConfigChoice ul li a:hover,.cdlConfigChoice ul li a:focus{border-color:#FFFFFF !important}
.cdlConfigChoice ul li a span{position:absolute;top:-3000px;left:-3000px}
.cdlConfigChoice .cdlButtons{display:block;line-height:40px;clear:both;padding-top:10px;position:relative;float:left}
.cdlButtons input{border-width:2px;font-size:40px;line-height:40px}
.cdlConfigChoice .cdlButtons input{display:block;font-size:30px;background-color:transparent;border-color:transparent;color:#FFFFFF;margin-top:0;padding:1px 5px 1px 65px;position:relative;z-index:3;text-align:left;width:calc(100% + 10px)}
.cdlConfigChoice .cdlButtons:after{content:"";display:block;background-color:#333333;border-color:transparent;color:#FFFFFF;margin:5px 5px 0 50px;position:absolute;top:5px;width:calc(100% - 40px);min-height:46px;border-radius:7px;-moz-border-radius:7px;-WebKit-border-radius:7px;-khtml-border-radius:7px}
.cdlConfigChoice .cdlButtons:before{content:"+";vertical-align:middle;line-height:40px;padding:3px 10px;margin:5px 5px 5px 0;position:absolute;top:5px;left:0;display:block;font-weight:bold;font-size:30px;color:#FFFFFF;background-color:#333333;border-radius:7px;-moz-border-radius:7px;-WebKit-border-radius:7px;-khtml-border-radius:7px}
#cdlBackgroundConfigBlack a{background-color:#000000}
#cdlBackgroundConfigWhite a{background-color:#FFFFFF}
#cdlBackgroundConfigGreen a{background-color:#009900}
#cdlBackgroundConfigYellow a{background-color:#FFFF00}
#cdlBackgroundConfigBlue a{background-color:#0000FF}
#cdlBackgroundConfigRed a{background-color:#FF0033}
#cdlConfigChoiceTextSize ul li a:after{content:"A";display:block;position:absolute;width:100%;height:100%;font-weight:bold}
#cdlTextSizeConfig1 a{font-size:calc(16px * 0.9)}
#cdlTextSizeConfig2 a{font-size:calc(16px * 1.15)}
#cdlTextSizeConfig3 a{font-size:calc(16px * 1.7)}
#cdlTextSizeConfig4 a{font-size:calc(16px * 2.2)}
#cdlTextSizeConfig5 a{font-size:calc(16px * 3)}
#cdlTextSizeConfig6 a{font-size:calc(16px * 4)}
#cdlConfigChoiceFontColor ul li a:after,#cdlConfigChoiceLinkColor ul li a:after{content:"A";display:block;position:absolute;width:100%;height:100%;font-weight:bold;font-size:calc(16px * 4)}
#cdlFontColorConfigBlack a{color:#000000}
#cdlFontColorConfigWhite a{color:#FFFFFF}
#cdlFontColorConfigGreen a{color:#009900}
#cdlFontColorConfigYellow a{color:#FFFF00}
#cdlFontColorConfigBlue a{color:#0000FF}
#cdlFontColorConfigRed a{color:#FF0033}
#cdlConfigChoiceLinkColor ul li a:after{text-decoration:underline}
#cdlLinkColorConfigBlack a{color:#000000}
#cdlLinkColorConfigWhite a{color:#FFFFFF}
#cdlLinkColorConfigGreen a{color:#009900}
#cdlLinkColorConfigYellow a{color:#FFFF00}
#cdlLinkColorConfigBlue a{color:#0000FF}
#cdlLinkColorConfigRed a{color:#FF0033}
.cdlConfigChoice ul .choiceSelected{padding:2px !important;border:2px solid #FFFFFF;border-radius:7px;-moz-border-radius:7px;-WebKit-border-radius:7px;-khtml-border-radius:7px}
.cdlConfigChoice ul .choiceSelected a:hover,.cdlConfigChoice ul .choiceSelected a:focus{border-color:#000000 !important}
.cdlConfigChoice ul .choiceSelected a{border-color:#000000 !important}
.cdlLoginForm,.cdlAudioForm,.cdlAdvancedForm,.audioIntro{padding-bottom:10px}
.cdlDisplayParametersForm{padding:10px 0 10px 0}
.cdlConfigChoice .cdlFormFieldsHighlighted{display:block;line-height:40px}
.cdlLabelDiv,.cdlFieldDiv{padding:.15em 0 10px .2em;box-sizing:border-box;float:none;display:inline-block;width:49% !important}
.cdlLabelDiv{padding-top:.3em}
.cdlFieldDiv .cdlInput_radio,.cdlFieldDiv .cdlInput_checkbox{margin-right:0}
.cdlFieldDiv .cdlOtherInput{white-space:nowrap}
.cdlFieldDiv label{margin-right:.5em}
.cdlAdvancedForm .cdlLabelDiv,.cdlAdvancedForm .cdlFieldDiv{padding-bottom:20px}
.cdlAdvancedForm .cdlLabelDiv{padding-top:.5em}
.cdlInfo{font-size:80%;float:right;font-style:italic}
.cdlInversedColor{background-color:#FFFFFF !important;color:#000000 !important}
.cdlInversedColor *{background-color:#FFFFFF !important;color:#000000 !important;border-color:#000000 !important}
.cdlColors{padding:15px;margin:0;overflow:hidden;background-color:#333333}
.cdlColors li{list-style:none;display:block;float:left;text-align:center;box-sizing:border-box;width:100px !important;padding:2px;background-color:transparent}
.cdlColors li a{display:block;overflow:hidden;color:#000000;padding:3px;background-color:transparent;border:2px solid transparent}
.cdlColors li a .cdlTransPix{display:block;height:90px;border-radius:5px;-moz-border-radius:5px;-WebKit-border-radius:5px;-khtml-border-radius:5px}
.cdlColors li a .cdlSpanHidden{position:absolute;top:-3000px;left:-3000px}
.cdlColors .choiceSelected a,.cdlColors li a:hover,.cdlColors li a:focus{border-color:#FFFFFF;border-radius:9px;-moz-border-radius:9px;-WebKit-border-radius:9px;-khtml-border-radius:9px}
.cdlColorsForm,.cdlSizesForm{padding-bottom:10px}
.cdlSizes{padding:15px;margin:0;overflow:hidden;font-size:16px}
.cdlSizes li{list-style:none;display:inline-block;padding:2px;background-color:transparent;vertical-align:baseline}
.cdlSizes li a{position:relative;display:table-cell;vertical-align:bottom;width:120px;height:120px;padding:3px;box-sizing:border-box;background-color:transparent;border:2px solid transparent;font-weight:bold;text-decoration:none}
.cdlSizes li a,.cdlSizes li a *{text-decoration:none;cursor:url(###EMBEDDED_URL###/design/cursors/pointer_cursor_5.cur), pointer}
.cdlSizes li a .cdlTransPix{width:100%;text-align:center;display:block;border-radius:8px;-moz-border-radius:8px;-WebKit-border-radius:8px;-khtml-border-radius:8px}
.cdlSizes li a .cdlTransPix:after{content:"A";display:block;line-height:1}
.cdlSizes li a .cdlSpanHidden{position:absolute;top:-3000px;left:-3000px}
#cdlSizeConfig1 a,#cdlSizeConfig1 a *{cursor:url(###EMBEDDED_URL###/design/cursors/pointer_cursor_1.cur), pointer}
#cdlSizeConfig2 a,#cdlSizeConfig2 a *{cursor:url(###EMBEDDED_URL###/design/cursors/pointer_cursor_2.cur), pointer}
#cdlSizeConfig3 a,#cdlSizeConfig3 a *{cursor:url(###EMBEDDED_URL###/design/cursors/pointer_cursor_3.cur), pointer}
#cdlSizeConfig4 a,#cdlSizeConfig4 a *{cursor:url(###EMBEDDED_URL###/design/cursors/pointer_cursor_4.cur), pointer}
.cdlSizes .choiceSelected a,.cdlSizes li a:hover,.cdlSizes li a:focus{border-radius:9px;-moz-border-radius:9px;-WebKit-border-radius:9px;-khtml-border-radius:9px}
.cdlUtilLinksContainer{margin-top:-5px}
.cdlUtilLinks input,.cdlUtilLinks span{display:block;overflow:hidden}
.audioHelpIntro ul{padding-top:20px;padding-bottom:5px}
.audioHelpIntro li{padding-bottom:20px}
.cdlCadre>div>div>.cdlFormFieldsHighlighted{display:inline-block;text-align:right;overflow:hidden}
.cdlCadre>div>div>.cdlFormFieldsHighlighted input{display:inline-block}
.cdlAdvancedParameters,.cdlValidate{display:block;line-height:40px;padding-right:20px}
.cdlCadre>div>div>.cdlFormFieldsHighlighted .cdlButtons{display:block;line-height:40px;clear:both;padding-top:10px;position:relative;float:right}
.cdlCadre>div>div>.cdlFormFieldsHighlighted input{display:block;font-size:30px;background-color:transparent;border-color:transparent;color:#FFFFFF;margin-top:0;padding:1px 5px 1px 65px;position:relative;z-index:3;text-align:left;width:calc(100% + 10px)}
.cdlCadre>div>div>.cdlFormFieldsHighlighted .cdlButtons:after{content:"";display:block;background-color:#333333;border-color:transparent;color:#FFFFFF;margin:5px 5px 0 50px;position:absolute;top:5px;width:calc(100% - 60px);min-height:46px;border-radius:7px;-moz-border-radius:7px;-WebKit-border-radius:7px;-khtml-border-radius:7px}
.cdlCadre>div>div>.cdlFormFieldsHighlighted .cdlButtons:before{content:"✔";vertical-align:middle;line-height:40px;padding:3px 10px;margin:5px 5px 5px 0;position:absolute;top:5px;left:0;display:block;font-weight:bold;font-size:30px;color:#FFFFFF;background-color:#333333;border-radius:7px;-moz-border-radius:7px;-WebKit-border-radius:7px;-khtml-border-radius:7px}
.cdlCadre>div>div>.cdlFormFieldsHighlighted .cdlValidate:before{color:#009900}
.cdlActions{text-align:right}