*{font-family:"Lucida Sans","Lucida Sans Unicode",arial,sans-serif}
html{padding:0;margin:0;color:white;font-size:1em;width:100%}
body{background:rgb(51,51,51);width:97.2%;padding:1.2%;margin:0 auto}
.body{background:#ECEAE9 !important;color:black !important}
a{color:white}
.body a{color:black !important}
input{font-family:"Lucida Sans","Lucida Sans Unicode",arial,sans-serif;font-size:1em;background:transparent;border:1px solid white;padding:0.1em 0.2em;margin:0;color:white;display:block;float:left}
.body input{border-color:black !important;color:black !important}
.group label{display:block;float:left;width:8em;padding:0;margin:0;text-align:left;line-height:1.5em}
#formIdent label,#formEnregistrerProfil label{margin:0 !important;margin:0 0 0 -10px}
.divLigneForm{padding-bottom:15px;padding-left:0px}
.submit input{width:6em;float:none;color:black;cursor:pointer}
h1{margin:0 0 15px 0;float:left}
.header img{float:right}
.clearBoth{clear:both;height:0;overflow:hidden;font-size:0%}
h2{margin:0 0 20px 0;padding:0 0 0 10px;font-size:1.9em}
.group{border:1px solid white;background:black;padding:10px 1% 15px 1%;float:left;width:97.7% !important;width:99.7%;margin-bottom:10px}
.body .group{border-color:black !important;background:white !important}
input.submit{background-color:white;font-weight:bold;height:1.6em;line-height:1em}
.body input.submit{background-color:black !important}
a.submit,a.submit2{background-color:white;font-weight:bold;height:1.6em;line-height:1em;font-size:1.5em}
.body a.submit,.body a.submit2{background-color:black !important}
a.submit{display:block;color:black;line-height:1.7em;height:1.7em;text-align:center;width:6em;margin-left:40px;padding:0 10px;text-decoration:none}
.body a.submit{color:white !important}
a.submit2{display:block;color:black;line-height:1.7em;height:1.6em;text-align:center;width:6em;margin-left:0px;padding:0 10px;text-decoration:none}
.body a.submit2{color:white !important}
#accedezAuSite{width:9em}
div.submit{padding-left:200px !important;padding-left:200px}
.encadrementImage{background:url("../images/arrow.png") no-repeat;position:relative;left:-20px;padding-left:20px}
.body .encadrementImage{background-image:url("../images/arrow_black.png") !important}
.clearBothSep{clear:both;height:20px;font-size:0%}
.clearBothSep2{clear:both;height:0;font-size:0%;overflow:hidden}
.encadrementImage h2{margin:0;padding:0}
.pIntro{padding:5px 0;margin:0}
#encadrementImagePalette,#encadrementImageIdent,#encadrementImageEnregistrer{padding-left:100px}
#encadrementImageIdent h2,#encadrementImageEnregistrer h2{margin:0 0 20px 0 !important}
.palette label{display:block;float:left;width:66px;height:66px;overflow:hidden;text-align:center;cursor:pointer}
.body .palette label{background:black}
.palette input{position:absolute;z-index:-300}
ul li{list-style:none;padding:4px;width:66px;height:66px;font-size:80%;float:left}
.cache{display:none}
.cache *{display:none}
.palette li.selected{border:2px solid white;padding:2px}
.body .palette li.selected{border-color:black !important}
div.inputSubmit{padding:7px;border:4px solid white;float:left;margin-top:7px;background:black}
.body div.inputSubmit{border-color:black !important;background:white !important}
div.inputSubmit2{padding:7px;border:4px solid white;margin:7px auto 0 auto;background:black;width:9.6em}
.body div.inputSubmit2{border-color:black !important;background:white !important}
div.inputSubmit2 input{float:none}
input.submit{color:black;cursor:pointer}
.body input.submit{color:white !important}
#plusDeCouleurs,#plusDeCouleursTexte{width:9.5em}
.palette{float:left;margin:0;padding:0 20px 0 0;background-color:black}
.body .palette{background-color:white !important}
fieldset.encadrementImage{border:none;padding:0 0 0 100px;background-position:0% 50%;margin:0}
fieldset.encadrementImage legend{display:none}
.ou{margin:20px 20px 0px 20px;float:left;font-size:1.6em;font-weight:bold;text-align:center}
.contenuConfig{background:url("../images/flecheVersApercu.png") no-repeat 100% 50%;padding:0 60px 0 0;min-height:90px;height:auto !important;height:90px}
.body .contenuConfig{background-image:url("../images/flecheVersApercu_black.png") !important}
.divConteneurConfig{min-height:145px;height:auto !important;height:145px;margin-bottom:15px}
#divConteneurConfigTailleTexte{min-height:125px;height:auto !important;height:125px}
#divConteneurConfigCouleurTexte{min-height:0px !important;height:auto !important}
.palette label span{display:none}
#textColor label{border:1px solid white;width:64px;height:64px}
.body #textColor label{border-color:black !important}
#divApercu button span{display:none}
#divConfigs{margin-right:102px;padding-top:10px}
#divApercu{position:absolute;top:27px;right:10px !important;right:9px !important!;right:9px;border:5px solid white}
.body #divApercu{border-color:black}
#divApercu td{background:black;padding:0 !important;padding:23px 0;height:400px;width:90px;cursor:default;border:none;color:white;font-size:150%;text-transform:uppercase}
.body #divApercu td{background:white;color:black}
* html #divApercu td{height:400px}
#divApercu td span{display:block;text-align:center}
#divContenuConfigsApercu{position:relative;padding-top:30px}
#divBoutons,#boutonIdent{padding:2em 0 0 80px}
#boutonIdent{padding-top:5px}
#divEnegistrer{border:none !important;padding:11px}
#divEnregistrer2{padding:11px}
#formEnregistrerProfil label{width:16.3em}
#enregistrerAccederAuSite{width:16em}
#enregistrerAccederAuSite2{width:6.4em}
#submitEnregistrer{padding:0 !important;text-align:center}
#submitEnregistrer input{margin:0 auto !important}
label,input,a,p{font-size:1.5em}
#lienFormEnregistrer{font-size:1em}
#divCouleurs label{display:block;text-align:center;cursor:pointer;font-size:80%;width:100% !important;height:auto !important;padding:0 !important;margin:0 !important}
#divCouleurs li{display:block;float:left;padding:2px !important;margin:2px !important;text-align:center;cursor:pointer;font-size:80%;height:auto !important;width:5.4% !important;position:relative}
#divCouleurs label img{width:100%;visibility:hidden !important}
#divCouleurs input{position:absolute;z-index:-300;top:20%;left:20%}
#divCouleurs{text-align:center}
#divCouleurs ul{padding:5px 0 !important;margin:0 !important}
#divCouleurs li.selected{border:2px solid white;visibility:visible !important;margin:0 !important}
.body #divCouleurs li.selected{border-color:black !important}
.txtErr{color:white;padding-left:15px}
.body .txtErr{color:black !important}
input#identify,#password,#newIdentify,#newPassword,#cNewPassword{cursor:url(text.cur),text}
input[type=text],input[type=password]{cursor:url(../images/text.cur),text}
#divBoutonEnregistrer{float:none;width:24em}
#divBoutonEnregistrer *{float:none}
#formPalette{width:97.9%;margin-top:10px}
.leftForm{float:left;width:68%;padding:.2em 2% 0 0;font-size:1.5em}
.leftForm .info{font-size:75%;font-weight: bold}
.autresParametres{font-size:1em;padding:2em 0 0 O;font-size:.9em;border:1px solid white}
.body .autresParametres{border-color:black}
.autresParametres label{float:none !important;display:inline !important;width:auto !important}
.autresParametres input{float:none !important;display:inline !important;width:auto !important}
.rightForm{float:left;width:28%;padding:0 0 0 2%}
.autresParametres .divLigneForm{padding-bottom:7px}
.autresParametres legend{font-size:1.5em}
.autresParametres a{font-size:1.5em;padding:0 3px}
.advancedSelected{border:1px solid white;padding:0 2px !important}
.body .advancedSelected{border-color:black}
h1.titreLogoSite *{border:none !important}
h1.titreLogoSite a{font-size:0px !important}
h1 img{float:none !important}