<!doctype html>
<html lang="###LANGUAGE###">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Accès à une page protégée &bull; Confort de lecture</title>
<meta name="robots" content="noindex,nofollow">
<link href="###EMBEDDED_URL###/favicon.png" rel="shortcut icon">
<link href="###EMBEDDED_URL###/styles/default.css" rel="stylesheet">
<link href="###EMBEDDED_URL###/styles/###SITE_ID###/custom_###B_COLOR###_###F_COLOR###_###L_COLOR###_###F_SIZE###_###L_SPACING###_###W_SPACING###_###L_HEIGHT###.css" rel="stylesheet">
<link href="###EMBEDDED_URL###/styles/print.css" rel="stylesheet" media="print">
<!--[if IE]>
<link href="###EMBEDDED_URL###/styles/ie.css" rel="stylesheet">
<![endif]-->
<div class="cdlUtilLinksContainer">
<div class="cdlUtilLinks">
<a href="###EMBEDDED_URL###/personnalisation-affichage/###PERSONALIZATION_URL###" accesskey="l" title="Personnaliser vos paramètres d'affichage"><img src="###EMBEDDED_URL###/design/images/util_links_pictos/display_picto_###F_SIZE###.png" alt="Personnaliser vos paramètres d'affichage">###DISPLAY_ICON###</a><!--###AUDIO_ACTIONS###-->
<a href="###EMBEDDED_URL###/personnalisation-audio/###PERSONALIZATION_URL###" accesskey="m" title="Personnaliser vos paramètres audio"><img src="###EMBEDDED_URL###/design/images/util_links_pictos/audio_picto_###F_SIZE###.png" alt="Personnaliser vos paramètres audio">###AUDIO_ICON###</a>
<a href="###EMBEDDED_URL###/personnalisation-aide-audio/###PERSONALIZATION_URL###" accesskey="m" title="Aide audio"><img src="###EMBEDDED_URL###/design/images/util_links_pictos/help_picto_###F_SIZE###.png" alt="Aide audio">###AUDIO_HELP_ICON###</a>
<!-- <a href="###EMBEDDED_URL###/audio-protected/###SITE_ID###/###CONTENT_TO_READ_WITH_ACAPELA###" class="cdlDownloadAudioLink" accesskey="t"><img src="###EMBEDDED_URL###/design/images/util_links_pictos/mp3_picto_###F_SIZE###.png" alt="Télécharger la page en MP3" title="Télécharger la page en MP3"></a> --><!--/###AUDIO_ACTIONS###-->
</div>
<!--###AUDIO###--><div class="cdlAudioContent">
<div class="cdlAudioObject">
<div class="cdlAudioObjectContent" style="height:###DIV_MP3_PLAYER_HEIGHT###px">
<div id="containerLecteurAudioCDL"></div>
<audio controls src="###EMBEDDED_URL###/audio-protected/###SITE_ID###/###CONTENT_TO_READ_WITH_ACAPELA###" class="cdlHidden" id="lecteurAudioCDL">
<object type="application/x-shockwave-flash" data="###EMBEDDED_URL###/design/player/cdl_player_###F_SIZE###.swf" width="###MP3_PLAYER_WIDTH###" height="###MP3_PLAYER_HEIGHT###" id="lecteurCDL" style="width:###MP3_PLAYER_WIDTH###px !important">
<param name="movie" value="###EMBEDDED_URL###/design/player/cdl_player_###F_SIZE###.swf">
<param name="wmode" value="transparent">
<param name="allowscriptaccess" value="always">
<param name="FlashVars" value="racineAudio=http://###AUDIO_SERVER_NAME###/audio-text/###SITE_ID###&amp;fgcolor=###F_COLOR###&amp;cursorSize=###F_SIZE_BROWSER_DEPENDS###&amp;mp3=http://###AUDIO_SERVER_NAME###/audio-protected/###CONTENT_TO_READ_WITH_ACAPELA###">
</object>
</audio>
<script>
if (document.getElementById('lecteurAudioCDL') && document.getElementById('lecteurAudioCDL').play) {
	document.getElementById('lecteurAudioCDL').src = "";
	document.getElementById('containerLecteurAudioCDL').innerHTML = '<ul class="cdlAudioControls"><li><a href="#" class="cdlAudioPrevBloc cdlDisabled" title="###_DICO_BLOC_PRECEDENT###"><span>###_DICO_BLOC_PRECEDENT###</span></a><li><a href="#" class="cdlAudioPrevLine cdlDisabled" title="###_DICO_PHRASE_PRECEDENTE###"><span>###_DICO_PHRASE_PRECEDENTE###</span></a><li><a href="#" class="cdlAudioPlayPause cdlAudioPlay" title="###_DICO_LECTURE_PAUSE###"><span>###_DICO_LECTURE_PAUSE###</span></a><li><a href="#" class="cdlAudioStop cdlDisabled" title="###_DICO_STOPPER_LA_LECTURE###"><span>###_DICO_STOP###</span></a><li><a href="#" class="cdlAudioNextLine" title="###_DICO_PHRASE_SUIVANTE###"><span>###_DICO_PHRASE_SUIVANTE###</span></a><li><a href="#" class="cdlAudioNextBloc" title="###_DICO_BLOC_SUIVANT###"><span>###_DICO_BLOC_SUIVANT###</span></a></ul>';
}
</script>
</div>
</div>
</div>
<!--/###AUDIO###--><div class="cdlClearBoth"></div>
</div>
<div class="cdlGlobalPage">
<div class="protectedPageLoginContent">
<div class="cdlCadreContainer">
<div class="cdlCadre">
<p>Vous allez accéder à une page qui est protégée. Veuillez saisir votre identifiant et votre mot de passe.
<br>
<div class="">###ERROR_LOGIN_MESSAGE###</div>
<form class="cdlLoginForm" method="post" action="">
<div>
###HIDDEN_PARAMETERS###
<input type="hidden" name="cdlact" value="c">
<div class="cdlLabelDiv"><label for="cdllogin">Nom d'utilisateur :&nbsp;</label></div>
<div class="cdlFieldDiv"><input class="cdlInputText" type="text" id="cdllogin" name="cdllogin" value="Nom d'utilisateur" onfocus="if (this.value==this.defaultValue) this.value=''" onblur="if (this.value=='') this.value=this.defaultValue"></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv"><label for="cdlpasswd">Mot de passe :&nbsp;</label></div>
<div class="cdlFieldDiv"><input class="cdlInputText" type="password" id="cdlpasswd" name="cdlpasswd"></div>
<div class="cdlClearBoth"></div>
<br>
<span class="cdlButtons"><input type="submit" name="cdlvalider" value="Valider"></span>
</div>
</form>
</div>
</div>
</div>
</div>
<div class="cdlFoot">
<p class="cdlCopyright">&copy; ###CURRENT_YEAR### &mdash; confort de lecture
<div class="cdlClearBoth"></div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script>
jQuery.noConflict();
cdlBackgroundColor = '####B_COLOR###';
cdlFontColor = '####F_COLOR###';
cdlLinkColor = '####L_COLOR###';
cdlEmbeddedURL = 'http://###AUDIO_SERVER_NAME###';
cdlSiteId = '###SITE_ID###';
</script>
<script src="###EMBEDDED_URL###/design/js/jquery/jquery.nicescroll.min.js"></script>
<!--###JS_AUDIO_FILE_INCLUDE###--><script src="###EMBEDDED_URL###/design/js/cdl/highlight.js"></script>
<script>
jQuery('audio').prop('volume', 0.5);
jQuery(window).bind('load', function() {
	if (parentMovie("lecteurCDL")) {
		parentMovie("lecteurCDL").pauseIt();
	}
	if (thisMovie("lecteurCDL")) {
		setTimeout("initLecture();lectureMorceau(currentIndice,'down','auto')",1000);
	}
});
</script>
<!--/###JS_AUDIO_FILE_INCLUDE###--><script src="###EMBEDDED_URL###/javascript/title_###SITE_ID###_###F_SIZE###.js"></script>
