<!doctype html>
<html lang="###LANGUAGE###">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>###_DICO_TITLE_PARAMETRES_AVANCES### &bull; Confort de lecture</title>
<link href="/favicon.png" rel="shortcut icon">
<link href="/styles/default.css" rel="stylesheet">
<link href="/styles/###SITE_ID###/personalization.css" rel="stylesheet">
<link href="/styles/print.css" rel="stylesheet" media="print">
<!--[if IE]>
<link href="/styles/ie.css" rel="stylesheet">
<![endif]--><!--###CONTRAST_CSS###-->
<style>*{background-color:#FFFFFF;color:#000000;border-color:#000000}</style><!--/###CONTRAST_CSS###-->
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>(function(){var all=jQuery.event.props,len=all.length,res=[];while(len--){var el=all[len];if(el!='layerX'&&el!='layerY')res.push(el);}jQuery.event.props=res;}());</script>
<script>
jQuery.noConflict();
</script>
<body###CONTRAST_BODY_STYLE###>
<form action="/personnalisation" method="post" class="cdlFormPersonalization"><input type="hidden" name="cdlid" value="###SITE_ID###" class="cdlHidden"><input type="hidden" name="cdlurl" value="###URL_TO_PARSE###" class="cdlHidden">
<div class="cdlUtilLinksContainer">
<div class="cdlUtilLinks">
<div class="cdlChangeDisplayButton"><input type="submit" id="cdlchangedisplay" name="cdlchangedisplay" value="###_DICO_TITLE_PERSONNALISER_AFFICHAGE###" title="###_DICO_TITLE_PERSONNALISER_AFFICHAGE###" accesskey="d"></div><!--###AUDIO_ACTIONS###-->
<div class="cdlChangeAudioButton"><input type="submit" id="cdlchangeaudio" name="cdlchangeaudio" value="###_DICO_TITLE_PERSONNALISER_AUDIO###" title="###_DICO_TITLE_PERSONNALISER_AUDIO###" accesskey="d"></div>
<div class="cdlChangeAudioHelpButton"><input type="submit" id="cdlchangeaudiohelp" name="cdlchangeaudiohelp" value="###_DICO_TITLE_AIDE_AUDIO###" title="###_DICO_TITLE_AIDE_AUDIO###" accesskey="h"></div><!--/###AUDIO_ACTIONS###-->
</div><!--###AUDIO###-->
<div class="cdlAudioContent">
<div class="cdlAudioObject">
<div class="cdlAudioObjectContent" style="height:68px">
<object type="application/x-shockwave-flash" data="/design/player/cdl_player_3.swf" width="386" height="78" id="lecteurCDL" style="width:386px !important">
<param name="movie" value="/design/player/cdl_player_3.swf">
<param name="wmode" value="transparent">
<param name="allowscriptaccess" value="always">
<param name="FlashVars" value="racineAudio=http://###SERVER_NAME###/audio-text/###SITE_ID###&amp;fgcolor=###FLASH_FONT_COLOR###&amp;cursorSize=###FONT_SIZE_BROWSER_DEPENDS###">
</object>
</div>
</div>
</div><!--/###AUDIO###-->
<div class="cdlClearBoth"></div>
</div>
<div class="cdlAllPageContainer"><div class="cdlAllPage">
<div class="cdlGlobalPage">
<div class="cdlPageContent">
<div class="cdlPersonalizationHeader">
<h1 class="cdlSiteLogo"><a href="###SITE_URL###" title="###SITE_TITLE###" target="_blank"><img src="###SITE_LOGO###" alt="###SITE_TITLE###"></a></h1>
<div class="cdlLogoCdl"><img src="/design/images/logo_confortdelecture.png" alt=""></div>
<div class="cdlClearBoth"></div>
</div>
<div class="cdlCadreContainer">
<div class="cdlCadre">
<p class="cdlLittleArrow audioIntro"><strong>###_DICO_PARAMETRES_AVANCES###</strong>
<div class="cdlAdvancedForm">
<div class="cdlLabelDiv" style="padding-top:.5em">###_DICO_PARAMETRES_AVANCES_FIL_ARIANE###&nbsp;:&nbsp;</div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="filAriane1" name="cdlariane" value="1"###ARIANE_TOP###><strong class="cdlInput_radio"><strong></strong></strong></span><label for="filAriane1">en haut de page</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="filAriane2" name="cdlariane" value="2"###ARIANE_BOTTOM###><strong class="cdlInput_radio"><strong></strong></strong></span><label for="filAriane2">en bas de page</label></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv" style="padding-top:.5em"><span class="cdlPartOfText">###_DICO_PARAMETRES_AVANCES_IMG###</span>&nbsp;:&nbsp;<br><span class="cdlPartOfText cdlInfo">###_DICO_PARAMETRES_AVANCES_IMG_INFO###</span></div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="displayImages1" name="cdlimg" value="1"###IMG_YES###><strong class="cdlInput_radio"><strong></strong></strong></span><label for="displayImages1">###_DICO_OUI###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="displayImages0" name="cdlimg" value="0"###IMG_NO###><strong class="cdlInput_radio"><strong></strong></strong></span><label for="displayImages0">###_DICO_NON###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="displayImages2" name="cdlimg" value="2"###IMG_ONLY_WITH_ALT###><strong class="cdlInput_radio"><strong></strong></strong></span><label for="displayImages2">###_DICO_ONLY_WITH_ALT###</label></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv" style="padding-top:.5em"><span class="cdlPartOfText">###_DICO_PARAMETRES_AVANCES_OBJECT###</span>&nbsp;:&nbsp;<br><span class="cdlPartOfText cdlInfo">###_DICO_PARAMETRES_AVANCES_OBJECT_INFO###</span></div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="displayObjects1" name="cdlobject" value="1"###OBJECT_YES###><strong class="cdlInput_radio"><strong></strong></strong></span><label for="displayObjects1">###_DICO_OUI###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="displayObjects0" name="cdlobject" value="0"###OBJECT_NO###><strong class="cdlInput_radio"><strong></strong></strong></span><label for="displayObjects0">###_DICO_NON###</label></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv" style="padding-top:.5em"><span class="cdlPartOfText">###_DICO_PARAMETRES_AVANCES_TABLE###</span>&nbsp;:&nbsp;<br><span class="cdlPartOfText cdlInfo">###_DICO_PARAMETRES_AVANCES_TABLE_INFO###</span></div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="parseTablesToList1" name="cdltable" value="1"###TABLE_YES###><strong class="cdlInput_radio"><strong></strong></strong></span><label for="parseTablesToList1">###_DICO_OUI###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="parseTablesToList0" name="cdltable" value="0"###TABLE_NO###><strong class="cdlInput_radio"><strong></strong></strong></span><label for="parseTablesToList0">###_DICO_NON###</label></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv" style="padding-top:.5em"><span class="cdlPartOfText">###_DICO_PARAMETRES_AVANCES_JS###</span>&nbsp;:&nbsp;<br><span class="cdlPartOfText cdlInfo">###_DICO_PARAMETRES_AVANCES_JS_INFO###</span></div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="activateJavascript1" name="cdljs" value="1"###JS_YES###><strong class="cdlInput_radio"><strong></strong></strong></span><label for="activateJavascript1">###_DICO_OUI###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="activateJavascript0" name="cdljs" value="0"###JS_NO###><strong class="cdlInput_radio"><strong></strong></strong></span><label for="activateJavascript0">###_DICO_NON###</label></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv" style="padding-top:.5em"><span class="cdlPartOfText">###_DICO_PARAMETRES_AVANCES_FRAME###</span>&nbsp;:&nbsp;<br><span class="cdlPartOfText cdlInfo">###_DICO_PARAMETRES_AVANCES_FRAME_INFO###</span></div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="activateFrames1" name="cdlframe" value="1"###FRAME_YES###><strong class="cdlInput_radio"><strong></strong></strong></span><label for="activateFrames1">###_DICO_OUI###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="activateFrames0" name="cdlframe" value="0"###FRAME_NO###><strong class="cdlInput_radio"><strong></strong></strong></span><label for="activateFrames0">###_DICO_NON###</label></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv" style="padding-top:.5em"><span class="cdlPartOfText">###_DICO_PARAMETRES_AVANCES_APPLET###</span>&nbsp;:&nbsp;<br><span class="cdlPartOfText cdlInfo">###_DICO_PARAMETRES_AVANCES_APPLET_INFO###</span></div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="displayApplets1" name="cdlapplet" value="1"###APPLET_YES###><strong class="cdlInput_radio"><strong></strong></strong></span><label for="displayApplets1">###_DICO_OUI###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="displayApplets0" name="cdlapplet" value="0"###APPLET_NO###><strong class="cdlInput_radio"><strong></strong></strong></span><label for="displayApplets0">###_DICO_NON###</label></div>
<div class="cdlClearBoth"></div>
<br>
<span class="cdlButtons cdlValidate"><input type="submit" name="cdlvalidateadvanced" value="###_DICO_BOUTON_VALIDER###"></span>
<div class="cdlClearBoth"></div>
</div>
</div>
</div>
<hr><br class="cdlHidden">
</div>
</div>
<div class="cdlFoot">
<p class="cdlCopyright">&copy; ###ANNEE_COURANTE### &mdash; confort de lecture
<div class="cdlClearBoth"></div>
</div>
</div></div>
</form><!--###JS_AUDIO_FILE_INCLUDE###-->
<script src="/design/js/cdl/highlight.js"></script><!--/###JS_AUDIO_FILE_INCLUDE###-->
<script src="/javascript/title_###SITE_ID###_3.js"></script>
