<!doctype html>
<html lang="###LANGUAGE###">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>###_DICO_TITLE_PARAMETRES_AVANCES### &bull; Confort de lecture</title>
<meta name="robots" content="noindex,nofollow">
<link href="###EMBEDDED_URL###/favicon.png" rel="shortcut icon">
<link href="###EMBEDDED_URL###/styles/default.css" rel="stylesheet">
<link href="###EMBEDDED_URL###/styles/###SITE_ID###/personalization.css" rel="stylesheet">
<link href="###EMBEDDED_URL###/styles/print.css" rel="stylesheet" media="print">
<!--[if IE]>
<link href="###EMBEDDED_URL###/styles/ie.css" rel="stylesheet">
<![endif]--><!--###CONTRAST_CSS###-->
<style>*{background-color:#FFFFFF;color:#000000;border-color:#000000}</style><!--/###CONTRAST_CSS###-->
<body###CONTRAST_BODY_STYLE###>
<form action="###EMBEDDED_URL###/personnalisation" method="post" class="cdlFormPersonalization"><input type="hidden" name="cdlid" value="###SITE_ID###" class="cdlHidden"><input type="hidden" name="cdlurl" value="###URL_TO_PARSE###" class="cdlHidden">
<div class="cdlUtilLinksContainer">
<div class="cdlUtilLinks">
<div class="cdlChangeDisplayButton"><svg version="1.1" id="cdlDisplayIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="148.1 211.8 42 42" enable-background="new 148.1 211.8 42 42" xml:space="preserve" width="68px" height="68px" fill="####FLASH_FONT_COLOR###" style="width:68px !important;height:68px !important"><g>
<path d="M156.6,220.3c-4.6,4.6-4.6,12.2,0,16.8c4,4,10.1,4.6,14.6,1.8l9.1,9.1c1.1,1.1,2.8,1.1,4,0c1.1-1.1,1.1-2.8,0-4l-9.1-9.1
	c2.8-4.6,2.2-10.7-1.8-14.6C168.8,215.7,161.3,215.7,156.6,220.3z M170.7,234.5c-3.1,3.1-8.3,3.1-11.4,0c-3.1-3.1-3.1-8.3,0-11.4
	c3.1-3.1,8.3-3.1,11.4,0C173.9,226.2,173.9,231.3,170.7,234.5z"></path>
<path d="M156.6,220.3L156.6,220.3l2.7,2.7l0,0c3.1-3.1,8.3-3.2,11.4,0c3.1,3.1,3.1,8.3,0,11.4l0,0l13.6,13.6c1.1-1.1,1.1-2.8,0-4
	l-9.1-9.1c2.8-4.6,2.2-10.7-1.8-14.6C168.8,215.7,161.3,215.7,156.6,220.3z"></path>
</g></svg><input type="image" src="###EMBEDDED_URL###/design/images/util_links_pictos/display_picto_3.png" id="cdlchangedisplay" name="cdlchangedisplay" value="1" alt="###_DICO_TITLE_PERSONNALISER_AFFICHAGE###" title="###_DICO_TITLE_PERSONNALISER_AFFICHAGE###" accesskey="d"></div><!--###AUDIO_ACTIONS###-->
<div class="cdlChangeAudioButton" title="###_DICO_TITLE_PERSONNALISER_AUDIO###"><svg version="1.1" id="cdlAudioIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="196.5 280.5 42 42" enable-background="new 196.5 280.5 42 42" xml:space="preserve" width="68px" height="68px" fill="####FLASH_FONT_COLOR###" style="width:68px !important;height:68px !important">
<path d="M201.5,296v11h7.1l8.9,9.1v-29.2l-8.9,9.1L201.5,296L201.5,296z M225.5,301.5c0-3.2-1.8-6-4.4-7.3v14.7
	C223.7,307.5,225.5,304.7,225.5,301.5z M221.1,285.5v3.7c5.1,1.6,8.9,6.5,8.9,12.3s-3.7,10.7-8.9,12.3v3.7c7.1-1.7,12.4-8.2,12.4-16
	S228.2,287.2,221.1,285.5z"></path>
</svg><input type="image" src="###EMBEDDED_URL###/design/images/util_links_pictos/audio_picto_3.png" id="cdlchangeaudio" name="cdlchangeaudio" value="1" alt="###_DICO_TITLE_PERSONNALISER_AUDIO###" accesskey="d"></div>
<div class="cdlChangeAudioHelpButton"><svg version="1.1" id="cdlAudioHelpIcon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="89.5 299 42.2 39.4" enable-background="new 89.5 299 42.2 39.4" xml:space="preserve" width="68px" height="68px" fill="####FLASH_FONT_COLOR###" style="width:68px !important;height:68px !important"><polygon points="91.5,313.3 91.5,324.3 98.6,324.3 107.5,333.4 107.5,304.2 98.6,313.4 91.5,313.4 "></polygon>
<path d="M118.9,303c5.4,0,10.8,2.5,10.8,8.5c0,5.5-6.3,7.6-7.7,9.6c-1,1.5-0.7,3.6-3.5,3.6c-1.8,0-2.7-1.5-2.7-2.8
	c0-5,7.4-6.2,7.4-10.3c0-2.3-1.5-3.6-4.1-3.6c-5.4,0-3.3,5.6-7.4,5.6c-1.5,0-2.8-0.9-2.8-2.6C109,306.7,113.8,303,118.9,303z
	 M118.7,327.4c1.9,0,3.5,1.6,3.5,3.5c0,1.9-1.6,3.5-3.5,3.5c-1.9,0-3.5-1.6-3.5-3.5C115.2,329,116.8,327.4,118.7,327.4z"></path>
</svg><input type="image" src="###EMBEDDED_URL###/design/images/util_links_pictos/help_picto_3.png" id="cdlchangeaudiohelp" name="cdlchangeaudiohelp" value="1" alt="###_DICO_TITLE_AIDE_AUDIO###" title="###_DICO_TITLE_AIDE_AUDIO###" accesskey="h"></div><!--/###AUDIO_ACTIONS###-->
</div><!--###AUDIO###-->
<div class="cdlAudioContent">
<div class="cdlAudioObject">
<div class="cdlAudioObjectContent" style="height:68px">
<div id="containerLecteurAudioCDL"></div>
<audio controls class="cdlHidden" id="lecteurAudioCDL">
<object type="application/x-shockwave-flash" data="###EMBEDDED_URL###/design/player/cdl_player_3.swf" width="386" height="78" id="lecteurCDL" style="width:386px !important">
<param name="movie" value="###EMBEDDED_URL###/design/player/cdl_player_3.swf">
<param name="wmode" value="transparent">
<param name="allowscriptaccess" value="always">
<param name="FlashVars" value="racineAudio=http://###SERVER_NAME###/audio-text/###SITE_ID###&amp;fgcolor=###FLASH_FONT_COLOR###&amp;cursorSize=###FONT_SIZE_BROWSER_DEPENDS###">
</object>
</audio>
<script>
if (document.getElementById('lecteurAudioCDL') && document.getElementById('lecteurAudioCDL').play) {
	document.getElementById('containerLecteurAudioCDL').innerHTML = '<ul class="cdlAudioControls"><li><a href="#" class="cdlAudioPrevBloc cdlDisabled" title="###_DICO_BLOC_PRECEDENT###"><span>###_DICO_BLOC_PRECEDENT###</span></a><li><a href="#" class="cdlAudioPrevLine cdlDisabled" title="###_DICO_PHRASE_PRECEDENTE###"><span>###_DICO_PHRASE_PRECEDENTE###</span></a><li><a href="#" class="cdlAudioPlayPause cdlAudioPlay" title="###_DICO_LECTURE_PAUSE###"><span>###_DICO_LECTURE_PAUSE###</span></a><li><a href="#" class="cdlAudioStop cdlDisabled" title="###_DICO_STOPPER_LA_LECTURE###"><span>###_DICO_STOP###</span></a><li><a href="#" class="cdlAudioNextLine" title="###_DICO_PHRASE_SUIVANTE###"><span>###_DICO_PHRASE_SUIVANTE###</span></a><li><a href="#" class="cdlAudioNextBloc" title="###_DICO_BLOC_SUIVANT###"><span>###_DICO_BLOC_SUIVANT###</span></a></ul>';
}
</script>
</div>
</div>
</div><!--/###AUDIO###-->
<div class="cdlClearBoth"></div>
</div>
<div class="cdlAllPageContainer"><div class="cdlAllPage">
<div class="cdlGlobalPage">
<div class="cdlPageContent">
<div class="cdlPersonalizationHeader">
<h1 class="cdlSiteLogo"><a href="###SITE_URL###" title="###SITE_TITLE###" target="_blank"><img src="###SITE_LOGO###" alt="###SITE_TITLE###"></a></h1>
<div class="cdlLogoCdl"><img src="###EMBEDDED_URL###/design/images/logo_confortdelecture.png" alt=""></div>
<div class="cdlClearBoth"></div>
</div>
<div class="cdlCadreContainer">
<div class="cdlCadre">
<p class="cdlLittleArrow audioIntro"><strong>###_DICO_PARAMETRES_AVANCES###</strong>
<div class="cdlAdvancedForm">
<div class="cdlLabelDiv">###_DICO_LABEL_ESPACEMENT_LETTRE###&nbsp;:&nbsp;</div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="letterSpacingConfig1" name="cdlls" value="1"###L_SPACING2_1###><strong class="cdlInput_radio"></strong></span><label for="letterSpacingConfig1">###_DICO_LABEL_ESPACEMENT_LETTRE_NORMAL###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="letterSpacingConfig2" name="cdlls" value="2"###L_SPACING2_2###><strong class="cdlInput_radio"></strong></span><label for="letterSpacingConfig2">###_DICO_LABEL_ESPACEMENT_LETTRE_GRAND###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="letterSpacingConfig3" name="cdlls" value="3"###L_SPACING2_3###><strong class="cdlInput_radio"></strong></span><label for="letterSpacingConfig3">###_DICO_LABEL_ESPACEMENT_LETTRE_IMPORTANT###</label></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv">###_DICO_LABEL_ESPACEMENT_MOT###&nbsp;:&nbsp;</div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="wordSpacingConfig1" name="cdlws" value="1"###W_SPACING2_1###><strong class="cdlInput_radio"></strong></span><label for="wordSpacingConfig1">###_DICO_LABEL_ESPACEMENT_MOT_NORMAL###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="wordSpacingConfig2" name="cdlws" value="2"###W_SPACING2_2###><strong class="cdlInput_radio"></strong></span><label for="wordSpacingConfig2">###_DICO_LABEL_ESPACEMENT_MOT_GRAND###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="wordSpacingConfig3" name="cdlws" value="3"###W_SPACING2_3###><strong class="cdlInput_radio"></strong></span><label for="wordSpacingConfig3">###_DICO_LABEL_ESPACEMENT_MOT_IMPORTANT###</label></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv">###_DICO_LABEL_ESPACEMENT_LIGNE###&nbsp;:&nbsp;</div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="lineHeightConfig1" name="cdllh" value="1"###L_HEIGHT2_1###><strong class="cdlInput_radio"></strong></span><label for="lineHeightConfig1">###_DICO_LABEL_ESPACEMENT_LIGNE_NORMAL###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="lineHeightConfig2" name="cdllh" value="2"###L_HEIGHT2_2###><strong class="cdlInput_radio"></strong></span><label for="lineHeightConfig2">###_DICO_LABEL_ESPACEMENT_LIGNE_GRAND###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="lineHeightConfig3" name="cdllh" value="3"###L_HEIGHT2_3###><strong class="cdlInput_radio"></strong></span><label for="lineHeightConfig3">###_DICO_LABEL_ESPACEMENT_LIGNE_IMPORTANT###</label></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv">###_DICO_PARAMETRES_AVANCES_FIL_ARIANE###&nbsp;:&nbsp;</div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="filAriane1" name="cdlariane" value="1"###ARIANE_TOP###><strong class="cdlInput_radio"></strong></span><label for="filAriane1">en haut de page</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="filAriane2" name="cdlariane" value="2"###ARIANE_BOTTOM###><strong class="cdlInput_radio"></strong></span><label for="filAriane2">en bas de page</label></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv"><span class="cdlPartOfText">###_DICO_PARAMETRES_AVANCES_IMG###</span>&nbsp;:&nbsp;<br><span class="cdlPartOfText cdlInfo">###_DICO_PARAMETRES_AVANCES_IMG_INFO###</span></div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="displayImages1" name="cdlimg" value="1"###IMG_YES###><strong class="cdlInput_radio"></strong></span><label for="displayImages1">###_DICO_OUI###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="displayImages0" name="cdlimg" value="0"###IMG_NO###><strong class="cdlInput_radio"></strong></span><label for="displayImages0">###_DICO_NON###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="displayImages2" name="cdlimg" value="2"###IMG_ONLY_WITH_ALT###><strong class="cdlInput_radio"></strong></span><label for="displayImages2">###_DICO_ONLY_WITH_ALT###</label></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv"><span class="cdlPartOfText">###_DICO_PARAMETRES_AVANCES_OBJECT###</span>&nbsp;:&nbsp;<br><span class="cdlPartOfText cdlInfo">###_DICO_PARAMETRES_AVANCES_OBJECT_INFO###</span></div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="displayObjects1" name="cdlobject" value="1"###OBJECT_YES###><strong class="cdlInput_radio"></strong></span><label for="displayObjects1">###_DICO_OUI###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="displayObjects0" name="cdlobject" value="0"###OBJECT_NO###><strong class="cdlInput_radio"></strong></span><label for="displayObjects0">###_DICO_NON###</label></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv"><span class="cdlPartOfText">###_DICO_PARAMETRES_AVANCES_TABLE###</span>&nbsp;:&nbsp;<br><span class="cdlPartOfText cdlInfo">###_DICO_PARAMETRES_AVANCES_TABLE_INFO###</span></div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="parseTablesToList1" name="cdltable" value="1"###TABLE_YES###><strong class="cdlInput_radio"></strong></span><label for="parseTablesToList1">###_DICO_OUI###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="parseTablesToList0" name="cdltable" value="0"###TABLE_NO###><strong class="cdlInput_radio"></strong></span><label for="parseTablesToList0">###_DICO_NON###</label></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv"><span class="cdlPartOfText">###_DICO_PARAMETRES_AVANCES_JS###</span>&nbsp;:&nbsp;<br><span class="cdlPartOfText cdlInfo">###_DICO_PARAMETRES_AVANCES_JS_INFO###</span></div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="activateJavascript1" name="cdljs" value="1"###JS_YES###><strong class="cdlInput_radio"></strong></span><label for="activateJavascript1">###_DICO_OUI###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="activateJavascript0" name="cdljs" value="0"###JS_NO###><strong class="cdlInput_radio"></strong></span><label for="activateJavascript0">###_DICO_NON###</label></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv"><span class="cdlPartOfText">###_DICO_PARAMETRES_AVANCES_FRAME###</span>&nbsp;:&nbsp;<br><span class="cdlPartOfText cdlInfo">###_DICO_PARAMETRES_AVANCES_FRAME_INFO###</span></div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="activateFrames1" name="cdlframe" value="1"###FRAME_YES###><strong class="cdlInput_radio"></strong></span><label for="activateFrames1">###_DICO_OUI###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="activateFrames0" name="cdlframe" value="0"###FRAME_NO###><strong class="cdlInput_radio"></strong></span><label for="activateFrames0">###_DICO_NON###</label></div>
<div class="cdlClearBoth"></div>
<div class="cdlLabelDiv"><span class="cdlPartOfText">###_DICO_PARAMETRES_AVANCES_APPLET###</span>&nbsp;:&nbsp;<br><span class="cdlPartOfText cdlInfo">###_DICO_PARAMETRES_AVANCES_APPLET_INFO###</span></div>
<div class="cdlFieldDiv"><span class="cdlOtherInput"><input type="radio" id="displayApplets1" name="cdlapplet" value="1"###APPLET_YES###><strong class="cdlInput_radio"></strong></span><label for="displayApplets1">###_DICO_OUI###</label>&nbsp;&nbsp;<span class="cdlOtherInput"><input type="radio" id="displayApplets0" name="cdlapplet" value="0"###APPLET_NO###><strong class="cdlInput_radio"></strong></span><label for="displayApplets0">###_DICO_NON###</label></div>
<div class="cdlClearBoth"></div>
<br>
<span class="cdlButtons cdlValidate"><input type="submit" name="cdlvalidateadvanced" value="###_DICO_BOUTON_VALIDER###"></span>
<div class="cdlClearBoth"></div>
</div>
</div>
</div>
<hr><br class="cdlHidden">
</div>
</div>
<div class="cdlFoot">
<p class="cdlCopyright">&copy; ###CURRENT_YEAR### &mdash; confort de lecture
<div class="cdlClearBoth"></div>
</div>
</div></div>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script>
jQuery.noConflict();
var bodyContrasted = jQuery('body').hasClass('cdlContrasted');
cdlBackgroundColor = '#' + (bodyContrasted ? 'FFFFFF' : '000000');
cdlFontColor = '#' + (bodyContrasted ? '000000' : 'FFFFFF');
cdlLinkColor = cdlFontColor;
cdlEmbeddedURL = '###EMBEDDED_URL###';
cdlSiteId = '###SITE_ID###';
</script>
<script src="###EMBEDDED_URL###/design/js/jquery/jquery.nicescroll.min.js"></script><!--###JS_AUDIO_FILE_INCLUDE###-->
<script src="###EMBEDDED_URL###/design/js/cdl/highlight.js"></script><!--/###JS_AUDIO_FILE_INCLUDE###-->
<script src="###EMBEDDED_URL###/javascript/title_###SITE_ID###_3.js"></script>
