<!doctype html>
<html lang="fr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>###PAGE_TITLE### &bull; Interface d'administration &bull; Confort de lecture</title>
<meta name="robots" content="noindex,nofollow">
<link href="###EMBEDDED_URL###/favicon.png" rel="shortcut icon">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="###EMBEDDED_URL###/design/css/config.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script>
jQuery.noConflict();
</script>
<body>
<div>
###SITES_LIST###<!--###IDENT_FORM###-->
<h1>Identification</h1>
<br><p><a href="###EMBEDDED_URL###/admin" class="black">Retour à l'accueil</a><br>
<form action="###EMBEDDED_URL###/admin/login/action" method="get">
<input type="hidden" name="p" value="###PAGE_REDIRECT###">
<div class="center">###MESSAGE###</div>
<br>
<div class="formLine">
<div class="leftForm"><label for="loginAdmin">Identifiant :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="loginAdmin" name="loginAdmin"></div>
</div>
<div class="formLine">
<div class="leftForm"><label for="passwdAdmin">Mot de passe :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="password" id="passwdAdmin" name="passwdAdmin"></div>
</div>
<div class="center">
<input type="submit" name="valider" value="Valider" class="submit">
</div>
</form>
<!--/###IDENT_FORM###--><!--###EDIT_FORM###-->
<h1>Gestion des sites</h1>
<br><p><a href="###EMBEDDED_URL###/admin" class="black">Retour à l'accueil</a><br>
<a href="###EMBEDDED_URL###/admin/sites/list">Retour à la liste des sites</a><br>

<form action="###EMBEDDED_URL###/admin/sites/###EDIT_ACTION###-action###SITE_ID###" method="get">
<div class="center">###MESSAGE###</div>
<br>
<!--###SITE_ID_FIELD###-->
<div class="formLine">
<div class="leftForm"><label for="siteId">Identifiant du site :&nbsp;<br><span class="info">caractères autorisés : alphanumériques, le point '.', le tiret '-' et le souligné '_'&nbsp;&nbsp;</span></label></div>
<div class="rightForm"><input class="text" type="text" id="siteId" name="siteId" value="###SITE_ID_VALUE###"></div>
</div>
<!--/###SITE_ID_FIELD###--><!--###SITE_ID_TITLE###-->
<div class="formLine">
<div class="leftForm"><span class="blueText">Identifiant du site :&nbsp;</span></div>
<div class="rightForm"><h1>###SITE_ID_VALUE###</h1></div>
</div>
<!--/###SITE_ID_TITLE###-->
<fieldset>
<legend>Adresses et URIs du site</legend>
<div class="formLine">
<div class="leftForm"><label for="siteDomainName">Noms de domaine :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="siteDomainName" name="siteDomainName" value="###SITE_DOMAIN_NAME###">&nbsp;<input type="submit" name="ajouterSiteDomainNames" class="add" value="ajouter" title="ajouter le nom de domaine">
###SITE_DOMAINE_NAMES_LIST###</div>
</div>
<div class="formLine">
<div class="leftForm"><label for="homePageUri">URIs de page d'accueil :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="homePageUri" name="homePageUri" value="###HOME_PAGE_URI###">&nbsp;<input type="submit" name="ajouterHomePageUris" class="add" value="ajouter" title="ajouter le nom de domaine">
###HOME_PAGE_URIS_LIST###</div>
</div>
<div class="formLine">
<div class="leftForm"><label for="trustedDomainName">Noms de domaine de confiance :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="trustedDomainName" name="trustedDomainName" value="###TRUSTED_DOMAIN_NAME###">&nbsp;<input type="submit" name="ajouterTrustedDomainNames" class="add" value="ajouter" title="ajouter le nom de domaine de confiance">
###TRUSTED_DOMAINE_NAMES_LIST###</div>
</div>
</fieldset>
<fieldset>
<legend>Fil d'Ariane</legend>
<div class="formLine">
<div class="leftForm">Position du fil d'ariane :&nbsp;<br><span class="info">si l'internaute ne précise rien.&nbsp;&nbsp;</span></div>
<div class="rightForm"><span class="radio"><input type="radio" id="positionLocation1" name="positionLocation" value="1"###POSITION_LOCATION_TOP###><label for="positionLocation1">haut</label>&nbsp;&nbsp;<input type="radio" id="positionLocation2" name="positionLocation" value="2"###POSITION_LOCATION_BOTTOM###><label for="positionLocation2">bas</label>&nbsp;&nbsp;<input type="radio" id="positionLocation3" name="positionLocation" value="3"###POSITION_LOCATION_BOTTOM###><label for="positionLocation3">haut et bas</label></span></div>
</div>
</fieldset>
<fieldset>
<legend>Javascript</legend>
<div class="formLine">
<div class="leftForm">Activer le javascript :&nbsp;<br><span class="info">si l'internaute ne précise rien.&nbsp;&nbsp;<br>(si 'non' est coché, le fonctionnement alternatif est activé)&nbsp;&nbsp;</span></div>
<div class="rightForm"><span class="radio"><input type="radio" id="activateJavascript1" name="activateJavascript" value="1"###ACTIVATE_JS_YES###><label for="activateJavascript1">oui</label>&nbsp;&nbsp;<input type="radio" id="activateJavascript0" name="activateJavascript" value="0"###ACTIVATE_JS_NO###><label for="activateJavascript0">non</label></span></div>
</div>
<div class="formLine">
<div class="leftForm">Transformer le javascript :&nbsp;</div>
<div class="rightForm"><span class="radio"><input type="radio" id="parseJavascript1" name="parseJavascript" value="1"###PARSE_JS_YES###><label for="parseJavascript1">oui</label>&nbsp;&nbsp;<input type="radio" id="parseJavascript0" name="parseJavascript" value="0"###PARSE_JS_NO###><label for="parseJavascript0">non</label></span></div>
</div>
</fieldset>
<fieldset>
<legend>Frames/IFrames</legend>
<div class="formLine">
<div class="leftForm">Activer les frames/iframes :&nbsp;<br><span class="info">si l'internaute ne précise rien.&nbsp;&nbsp;<br>(si 'non' est coché, le contenu alternatif est affiché)&nbsp;&nbsp;</span></div>
<div class="rightForm"><span class="radio"><input type="radio" id="activateFrames1" name="activateFrames" value="1"###ACTIVATE_FRAMES_YES###><label for="activateFrames1">oui</label>&nbsp;&nbsp;<input type="radio" id="activateFrames0" name="activateFrames" value="0"###ACTIVATE_FRAMES_NO###><label for="activateFrames0">non</label></span></div>
</div>
</fieldset>
<fieldset>
<legend>Médias</legend>
<div class="formLine">
<div class="leftForm">Afficher les images :&nbsp;<br><span class="info">si l'internaute ne précise rien.&nbsp;&nbsp;<br>(si 'non' est coché, le contenu alternatif est affiché)&nbsp;&nbsp;</span></div>
<div class="rightForm"><span class="radio"><input type="radio" id="displayImages1" name="displayImages" value="1"###DISPLAY_IMAGES_YES###><label for="displayImages1">oui</label>&nbsp;&nbsp;<input type="radio" id="displayImages0" name="displayImages" value="0"###DISPLAY_IMAGES_NO###><label for="displayImages0">non</label>&nbsp;&nbsp;<input type="radio" id="displayImages2" name="displayImages" value="2"###DISPLAY_IMAGES_ONLY_WITH_ALT###><label for="displayImages2">avec alternative</label></span></div>
</div>
<div class="formLine">
<div class="leftForm">Afficher les objects :&nbsp;<br><span class="info">si l'internaute ne précise rien.&nbsp;&nbsp;<br>(si 'non' est coché, le contenu alternatif est affiché)&nbsp;&nbsp;</span></div>
<div class="rightForm"><span class="radio"><input type="radio" id="displayObjects1" name="displayObjects" value="1"###DISPLAY_OBJECTS_YES###><label for="displayObjects1">oui</label>&nbsp;&nbsp;<input type="radio" id="displayObjects0" name="displayObjects" value="0"###DISPLAY_OBJECTS_NO###><label for="displayObjects0">non</label></span></div>
</div>
<div class="formLine">
<div class="leftForm">Afficher les applets :&nbsp;<br><span class="info">si l'internaute ne précise rien.&nbsp;&nbsp;<br>(si 'non' est coché, le contenu alternatif est affiché)&nbsp;&nbsp;</span></div>
<div class="rightForm"><span class="radio"><input type="radio" id="displayApplets1" name="displayApplets" value="1"###DISPLAY_APPLETS_YES###><label for="displayApplets1">oui</label>&nbsp;&nbsp;<input type="radio" id="displayApplets0" name="displayApplets" value="0"###DISPLAY_APPLETS_NO###><label for="displayApplets0">non</label></span></div>
</div>
</fieldset>
<fieldset>
<legend>Tables</legend>
<div class="formLine">
<div class="leftForm">Linéariser les tableaux :&nbsp;<br><span class="info">si l'internaute ne précise rien.&nbsp;&nbsp;<br>(transformer en listes à puce)&nbsp;&nbsp;</span></div>
<div class="rightForm"><span class="radio"><input type="radio" id="parseTablesToList1" name="parseTablesToList" value="1"###PARSE_TABLES_YES###><label for="parseTablesToList1">oui</label>&nbsp;&nbsp;<input type="radio" id="parseTablesToList0" name="parseTablesToList" value="0"###PARSE_TABLES_NO###><label for="parseTablesToList0">non</label></span></div>
</div>
</fieldset>
<fieldset>
<legend>Titre, langue et logo du site</legend>
<div class="formLine">
<div class="leftForm"><label for="siteLabel">Titre du site :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="siteLabel" name="siteLabel" value="###SITE_LABEL###"></div>
</div>
<div class="formLine">
<div class="leftForm"><label for="defaultLanguage">Langue par défaut du site :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="defaultLanguage" name="defaultLanguage" value="###DEFAULT_LANGUAGE###"></div>
</div>
<div class="formLine">
<div class="leftForm"><label for="logo">Logo du site :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="logo" name="logo" value="###SITE_LOGO###"><br><!--###LOGO_IMG###--><img src="###SITE_LOGO###" alt="logo du site : ###SITE_LABEL###" class="siteLogo"><!--/###LOGO_IMG###--></div>
</div>
</fieldset>
<fieldset>
<legend>Vocalisation</legend>
<div class="formLine">
<div class="leftForm">Activer l'audio&nbsp;</div>
<div class="rightForm"><span class="radio"><input type="radio" id="enableAudio1" name="enableAudio" value="1"###ENABLE_AUDIO_YES###><label for="enableAudio1">oui</label>&nbsp;&nbsp;<input type="radio" id="enableAudio0" name="enableAudio" value="0"###ENABLE_AUDIO_NO###><label for="enableAudio0">non</label></span></div>
</div>
<div class="formLine">
<div class="leftForm">Activer le glossaire&nbsp;</div>
<div class="rightForm"><span class="radio"><input type="radio" id="enableGlossary1" name="enableGlossary" value="1"###ENABLE_GLOSSARY_YES###><label for="enableGlossary1">oui</label>&nbsp;&nbsp;<input type="radio" id="enableGlossary0" name="enableGlossary" value="0"###ENABLE_GLOSSARY_NO###><label for="enableGlossary0">non</label></span></div>
</div>
<div class="formLine">
<div class="leftForm">Permettre le choix de la voix&nbsp;</div>
<div class="rightForm"><span class="radio"><input type="radio" id="voiceChoice1" name="voiceChoice" value="1"###VOICE_CHOICE_YES###><label for="voiceChoice1">oui</label>&nbsp;&nbsp;<input type="radio" id="voiceChoice0" name="voiceChoice" value="0"###VOICE_CHOICE_NO###><label for="voiceChoice0">non</label></span></div>
</div>
<div class="formLine">
<div class="leftForm">Mode de vocalisation :&nbsp;</div>
<div class="rightForm"><span class="radio"><input type="radio" id="ttsModeVaas" name="ttsMode" value="vaas"###TTS_MODE_VAAS###><label for="ttsModeVaas">VaaS</label>&nbsp;&nbsp;<input type="radio" id="ttsModeSdk" name="ttsMode" value="sdk"###TTS_MODE_SDK###><label for="ttsModeSdk">SDK</label></span></div>
</div>
<div class="formLine">
<div class="leftForm"><label for="ttsServerName">Nom de domaine du serveur VaaS :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="ttsServerName" name="ttsServerName" value="###TTS_SERVER_NAME###"></div>
</div>
<div class="formLine">
<div class="leftForm"><label for="ttsPort">Port d'accès au serveur VaaS :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="ttsPort" name="ttsPort" value="###TTS_PORT###"></div>
</div>
<div class="formLine">
<div class="leftForm"><label for="ttsUri">Chemin ou URL du programme de vocalisation :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="ttsUri" name="ttsUri" value="###TTS_URI###"></div>
</div>
<div class="formLine">
<div class="leftForm"><label for="ttsDefaultQueryString">Paramètres par défaut :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="ttsDefaultQueryString" name="ttsDefaultQueryString" value="###TTS_DEFAULT_QUERY_STRING###"></div>
</div>
<div class="formLine">
<div class="leftForm"><label for="ttsVoiceParamName">Nom du paramètre pour la voix :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="ttsVoiceParamName" name="ttsVoiceParamName" value="###TTS_VOICE_PARAM_NAME###"></div>
</div>
<div class="formLine">
<div class="leftForm"><label for="ttsRateParamName">Nom du paramètre pour la vitesse :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="ttsRateParamName" name="ttsRateParamName" value="###TTS_RATE_PARAM_NAME###"></div>
</div>
<div class="formLine">
<div class="leftForm"><label for="ttsTextParamName">Nom du paramètre pour le contenu à vocaliser :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="ttsTextParamName" name="ttsTextParamName" value="###TTS_TEXT_PARAM_NAME###"></div>
</div>
<div class="formLine">
<div class="leftForm">Décoder en UTF-8 le contenu à vocaliser&nbsp;</div>
<div class="rightForm"><span class="radio"><input type="radio" id="utf8DecodeContent1" name="utf8DecodeContent" value="1"###UTF8_DECODE_CONTENT_YES###><label for="utf8DecodeContent1">oui</label>&nbsp;&nbsp;<input type="radio" id="utf8DecodeContent0" name="utf8DecodeContent" value="0"###UTF8_DECODE_CONTENT_NO###><label for="utf8DecodeContent0">non</label></span></div>
</div>
</fieldset>
<fieldset>
<legend>Cache</legend>
<div class="formLine">
<div class="leftForm"><label for="cacheExpiry">Durée du cache :&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="cacheExpiry" name="cacheExpiry" value="###CACHE_EXPIRY###"></div>
</div>
<div class="formLine">
<div class="leftForm"><label for="pageNoCache">Pages sans cache :&nbsp;<br><span class="info">Expressions régulières.&nbsp;&nbsp;</label></div>
<div class="rightForm"><input class="text" type="text" id="pageNoCache" name="pageNoCache" value="###PAGE_NO_CACHE###">&nbsp;<input type="submit" name="ajouterPagesNoCache" class="add" value="ajouter" title="ajouter la(es) page(s)">
###PAGES_NO_CACHE_LIST###</div>
</div>
</fieldset>
<div class="center">
<input type="submit" name="valider" value="Valider" class="submit">
</div>
</form>
<!--/cdlBloc-->
<!--/###EDIT_FORM###--><!--###GLOSSARY_FORM###--><form action="###EMBEDDED_URL###/admin/glossary/###SITE_ID###edit-action" method="post" class="glossaryForm">
<h1>Gestion du glossaire</h1>
<br><p><a href="###EMBEDDED_URL###/admin" class="black">Retour à l'accueil</a>
<div>###MESSAGE_GLOSSARY###</div>
<table cellspacing="0">
<tr>
<th><label for="deleteAllNewRows" class="hidden">Supprimer toutes les nouvelles lignes : </label><input type="checkbox" id="deleteAllNewRows" name="deleteAllNewRows" class="deleteAllNewRows" title="Supprimer toutes les nouvelles lignes">
<th>Chaîne
<th>Remplacement
<th>Insensible à la casse
<th>Caractère à gauche
<th>Caractère à droite
<th>&nbsp;

<tr>
<td colspan="300"><a href="#" class="deleteLines">Supprimer les lignes</a> | <a href="#" class="addLineLink">Ajouter des lignes :</a> <label for="rowsToAdd" class="hidden">Nombre de lignes à ajouter : </label><input type="text" name="rowstoadd" id="rowsToAdd" value="1" size="1" maxlength="2">

<tr>
<th style="width:1%"><label for="rowsToAdd" class="hidden">Supprimer toutes les lignes : </label><input type="checkbox" id="deleteAllRows" name="deleteAllRows" class="deleteAllRows" title="Supprimer toutes les lignes">
<th>Chaîne
<th>Remplacement
<th style="width:1%">Insensible<br>à la casse
<th style="width:1%">Caractère à gauche
<th style="width:1%">Caractère à droite
<th style="width:1%">&nbsp;

<!--###GLOSSARY_ROWS###--><tr>
<td><label for="delete###INDEX_ITEM###" class="hidden">Supprimer la ligne : </label><input type="checkbox" id="delete###INDEX_ITEM###" name="delete" class="deleteRow">
<td class="inputTextCell"><label for="pattern###INDEX_ITEM###" class="hidden">Supprimer la ligne : </label><input type="text" id="pattern###INDEX_ITEM###" name="pattern" value="###PATTERN###" class="text">
<td class="inputTextCell"><label for="replacement###INDEX_ITEM###" class="hidden">Supprimer la ligne : </label><input type="text" id="replacement###INDEX_ITEM###" name="replacement" value="###REPLACEMENT###" class="text">
<td><label for="icase###INDEX_ITEM###" class="hidden">Supprimer la ligne : </label><select id="icase###INDEX_ITEM###" name="icase"><option value="1"###ICASE_YES###>Oui<option value="0"###ICASE_NO###>Non</select>
<td><label for="sepl###INDEX_ITEM###" class="hidden">Supprimer la ligne : </label><select id="sepl###INDEX_ITEM###" name="sepl"><option value="0"###SEPL_0###>Indifférent<option value="1"###SEPL_1###>Non alphanumérique<option value="2"###SEPL_2###>Non alphabétique</select>
<td><label for="sepr###INDEX_ITEM###" class="hidden">Supprimer la ligne : </label><select id="sepr###INDEX_ITEM###" name="sepr"><option value="0"###SEPR_0###>Indifférent<option value="1"###SEPR_1###>Non alphanumérique<option value="2"###SEPR_2###>Non alphabétique</select>
<td><a href="#" class="deleteLineLink"><img src="###EMBEDDED_URL###/design/images/delete.png" alt="Supprimer la ligne du glossaire"></a>

<!--/###GLOSSARY_ROWS###--></table>
<div>
<br><input type="submit" name="save" value="Sauvegarder" class="submit">
</div>
</form><!--/###GLOSSARY_FORM###-->
<br><p><a href="###EMBEDDED_URL###/admin" class="black">Retour à l'accueil</a>
</div>
<div>
<br><p>&copy; ###CURRENT_YEAR### &mdash; confort de lecture
</div>
<script>
//<![CDATA[
jQuery(document).on('click', '.deleteLines', function () {
	jQuery('.deleteRow:checked').parent().parent().remove();
	jQuery('.deleteNewRow:checked').parent().parent().remove();
	jQuery('.deleteAllRows').attr('checked', false);
	jQuery('.deleteAllNewRows').attr('checked', false);
	return false;
});
jQuery(document).on('change', '.deleteAllRows', function () {
	if (jQuery(this).attr('checked')) {
		jQuery('.deleteRow').attr('checked', true);
	} else {
		jQuery('.deleteRow').attr('checked', false);
	}
});
jQuery(document).on('change', '.deleteAllNewRows', function () {
	if (jQuery(this).attr('checked')) {
		jQuery('.deleteNewRow').attr('checked', true);
	} else {
		jQuery('.deleteNewRow').attr('checked', false);
	}
});
jQuery(document).on('click', '.addLineLink', function () {
	var count = jQuery('#rowsToAdd').val(), i;

	for (i = 0; i < count; i++) {
		jQuery(this).parent().parent().after('<tr><td><input type="checkbox" name="deleteNewRow" class="deleteNewRow"><td><input type="text" name="pattern" value="" class="text"><td><input type="text" name="replacement" value=\'\' class="text"><td><select name="icase"><option value="1" selected>Oui<option value="0">Non</select><td><select name="sepl"><option value="0">Indifférent<option value="1" selected>Non alphanumérique<option value="2">Non alphabétique</select><td><select name="sepr"><option value="0">Indifférent<option value="1" selected>Non alphanumérique<option value="2">Non alphabétique</select><td><a href="#" class="deleteLineLink"><img src="###EMBEDDED_URL###/design/images/delete.png" alt="Supprimer la ligne du glossaire"></a>');
	}
	return false;
});
jQuery(document).on('click', '.deleteLineLink', function () {
	jQuery(this).parent().parent().remove();
	return false;
});
nbChampsErreur = 0;
jQuery(document).on('click', 'input:submit', function () {
	var erreurs = false, premierChampEnErreur = null;
	jQuery('input[name="pattern"]').each(function () {
		try {
			new RegExp(jQuery(this).val());
			jQuery(this).css('background-color', 'white').css('border-color', 'black');
		} catch (e) {
			jQuery(this).css('background-color', '#f9e9ea').css('border-color', '#c1272d');
			if (premierChampEnErreur === null) {
				premierChampEnErreur = jQuery(this);
			}
			erreurs = true;
		}
	});

	if (erreurs) {
		premierChampEnErreur.focus();
	}
	return !erreurs;
});

jQuery('input[name="pattern"]').each(function () {
	try {
		new RegExp(jQuery(this).val());
		jQuery(this).css('background-color', 'white').css('border-color', 'black');
	} catch (e) {
		jQuery(this).css('background-color', '#f9e9ea').css('border-color', '#c1272d');
	}
});
//]]>
</script>
