<!doctype html>
<html lang="###LANGUAGE###">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>###_DICO_TITLE_PERSONNALISER_AFFICHAGE### &bull; Confort de lecture</title>
<meta name="robots" content="noindex,nofollow">
<link href="###EMBEDDED_URL###/favicon.png" rel="shortcut icon">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="###EMBEDDED_URL###/styles/default.css" rel="stylesheet">
<link href="###EMBEDDED_URL###/styles/###SITE_ID###/custom_###B_COLOR###_###F_COLOR###_###L_COLOR###_###F_SIZE_INDEX###_###L_SPACING###_###W_SPACING###_###L_HEIGHT###.css" rel="stylesheet" id="cdlCustomCssLink">
<link href="###EMBEDDED_URL###/styles/###SITE_ID###/personalization_###F_SIZE_INDEX###.css" rel="stylesheet" id="cdlPersonalizationCssLink">
<link href="###EMBEDDED_URL###/styles/print.css" rel="stylesheet" media="print">
<body###CONTRAST_BODY_STYLE###>
<form action="###EMBEDDED_URL###/personnalisation" method="post" class="cdlFormPersonalization"><input type="hidden" name="cdlid" value="###SITE_ID###" class="cdlHidden"><input type="hidden" name="cdlurl" value="###URL_TO_PARSE###" class="cdlHidden"><input type="hidden" name="cdlbc" value="###B_COLOR###" class="cdlHidden"><input type="hidden" name="cdlfc" value="###F_COLOR###" class="cdlHidden"><input type="hidden" name="cdllc" value="###L_COLOR###" class="cdlHidden"><input type="hidden" name="cdlfs" value="###F_SIZE_INDEX###" class="cdlHidden">
<div class="cdlUtilLinksContainer">
<div class="cdlUtilLinks">
<div class="cdlChangeDisplayButton"><span>###DISPLAY_ICON###</span></div><!--###AUDIO_ACTIONS###-->
<div class="cdlChangeAudioButton" title="###_DICO_TITLE_PERSONNALISER_AUDIO###">###AUDIO_ICON###<input type="submit" id="cdlchangeaudio" name="cdlchangeaudio" value="1" alt="###_DICO_TITLE_PERSONNALISER_AUDIO###" accesskey="a"></div>
<div class="cdlChangeAudioHelpButton" title="###_DICO_TITLE_AIDE_AUDIO###">###AUDIO_HELP_ICON###<input type="submit" id="cdlchangeaudiohelp" name="cdlchangeaudiohelp" value="1" alt="###_DICO_TITLE_AIDE_AUDIO###" accesskey="h"></div><!--/###AUDIO_ACTIONS###-->
</div><!--###AUDIO###-->
<div class="cdlAudioContent">
<div class="cdlAudioObject">
<div class="cdlAudioObjectContent">
<div id="containerLecteurAudioCDL"></div>
<audio controls id="lecteurAudioCDL">
<object type="application/x-shockwave-flash" data="###EMBEDDED_URL###/design/player/cdl_player_3.swf" width="386" height="78" id="lecteurCDL" style="width:386px !important">
<param name="movie" value="###EMBEDDED_URL###/design/player/cdl_player_3.swf">
<param name="wmode" value="transparent">
<param name="allowscriptaccess" value="always">
<param name="FlashVars" value="racineAudio=http://###AUDIO_SERVER_NAME###/audio-text/###SITE_ID###&amp;fgcolor=###F_COLOR###&amp;cursorSize=###FONT_SIZE_BROWSER_DEPENDS###">
</object>
</audio>
<script>
var lecteurAudioCDL = document.getElementById('lecteurAudioCDL');
if (lecteurAudioCDL && lecteurAudioCDL.play) {
	lecteurAudioCDL.style.display = 'none';
	lecteurAudioCDL.src = "";
	document.getElementById('containerLecteurAudioCDL').innerHTML = '<ul class="cdlAudioControls"><li><a href="#" class="cdlAudioPrevLine cdlDisabled" title="###_DICO_PHRASE_PRECEDENTE###"><span>###_DICO_PHRASE_PRECEDENTE###</span></a><li><a href="#" class="cdlAudioPlayPause cdlAudioPlay" title="###_DICO_LECTURE_PAUSE###"><span>###_DICO_LECTURE_PAUSE###</span></a><li><a href="#" class="cdlAudioStop cdlDisabled" title="###_DICO_STOPPER_LA_LECTURE###"><span>###_DICO_STOP###</span></a><li><a href="#" class="cdlAudioNextLine" title="###_DICO_PHRASE_SUIVANTE###"><span>###_DICO_PHRASE_SUIVANTE###</span></a></ul>';
}
</script>
</div>
</div>
</div><!--/###AUDIO###-->
</div>
<div class="cdlAllPageContainer" style="padding-top:###PAGE_MARGIN_TOP###px !important"><div class="cdlAllPage">
<div class="cdlGlobalPage">
<div class="cdlPageContent">
<div class="cdlPersonalizationHeader">
<h1 class="cdlSiteLogo"><a href="###SITE_URL###" title="###SITE_TITLE###" target="_blank"><img src="###SITE_LOGO###" alt="###SITE_TITLE###"></a></h1>
<div class="cdlLogoCdl"><img src="###EMBEDDED_URL###/design/images/logo_confortdelecture.svg" alt=""></div>
</div>
<div class="cdlCadreContainer">
<div class="cdlCadre">
<p class="cdlLittleArrow"><strong>###_DICO_EXPLICATION_CONFIG###</strong></p>
<div class="cdlDisplayParametersForm">
<div class="cdlConfigChoices">
<div class="cdlConfigChoicesGroup">
<div class="cdlConfigChoice"><ul>
<li id="cdlBackgroundConfigBlack"###B_COLOR_000000###><a id="cdlBackgroundConfigBlackAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlbc=000000&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlBackgroundConfigBlackAnchor"###B_COLOR2_000000###><span>###_DICO_LABEL_FOND_NOIR###</span></a>
<li id="cdlBackgroundConfigWhite"###B_COLOR_FFFFFF###><a id="cdlBackgroundConfigWhiteAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlbc=FFFFFF&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlBackgroundConfigWhiteAnchor"###B_COLOR2_FFFFFF###><span>###_DICO_LABEL_FOND_BLANC###</span></a>
<li id="cdlBackgroundConfigGreen"###B_COLOR_009900###><a id="cdlBackgroundConfigGreenAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlbc=009900&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlBackgroundConfigGreenAnchor"###B_COLOR2_009900###><span>###_DICO_LABEL_FOND_VERT###</span></a>
<li id="cdlBackgroundConfigYellow"###B_COLOR_FFFF00###><a id="cdlBackgroundConfigYellowAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlbc=FFFF00&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlBackgroundConfigYellowAnchor"###B_COLOR2_FFFF00###><span>###_DICO_LABEL_FOND_JAUNE###</span></a>
<li id="cdlBackgroundConfigBlue"###B_COLOR_0000FF###><a id="cdlBackgroundConfigBlueAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlbc=0000FF&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlBackgroundConfigBlueAnchor"###B_COLOR2_0000FF###><span>###_DICO_LABEL_FOND_BLEU###</span></a>
<li id="cdlBackgroundConfigRed"###B_COLOR_FF0033###><a id="cdlBackgroundConfigRedAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlbc=FF0033&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlBackgroundConfigRedAnchor"###B_COLOR2_0000FF###><span>###_DICO_LABEL_FOND_ROUGE###</span></a>
</ul><span class="cdlButtons"><input type="submit" name="morebackgroundcolors" value="###_DICO_BOUTON_PLUS_DE_COULEURS_FOND###" title="###_DICO_TITLE_BOUTON_PLUS_DE_COULEURS_FOND###"></span></div>
<div class="cdlConfigChoice" id="cdlConfigChoiceTextSize"><ul>
<li id="cdlTextSizeConfig1"###F_SIZE_1###><a id="cdlTextSizeConfig1Anchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlfs=1&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlTextSizeConfig1Anchor"###F_SIZE2_1###><span>###_DICO_LABEL_TRES_PETITE###</span></a>
<li id="cdlTextSizeConfig2"###F_SIZE_2###><a id="cdlTextSizeConfig2Anchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlfs=2&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlTextSizeConfig2Anchor"###F_SIZE2_2###><span>###_DICO_LABEL_PETITE###</span></a>
<li id="cdlTextSizeConfig3"###F_SIZE_3###><a id="cdlTextSizeConfig3Anchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlfs=3&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlTextSizeConfig3Anchor"###F_SIZE2_3###><span>###_DICO_LABEL_MOYENNE###</span></a>
<li id="cdlTextSizeConfig4"###F_SIZE_4###><a id="cdlTextSizeConfig4Anchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlfs=4&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlTextSizeConfig4Anchor"###F_SIZE2_4###><span>###_DICO_LABEL_GRANDE###</span></a>
<li id="cdlTextSizeConfig5"###F_SIZE_5###><a id="cdlTextSizeConfig5Anchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlfs=5&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlTextSizeConfig5Anchor"###F_SIZE2_5###><span>###_DICO_LABEL_TRES_GRANDE###</span></a>
<li id="cdlTextSizeConfig6"###F_SIZE_6###><a id="cdlTextSizeConfig6Anchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlfs=6&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlTextSizeConfig6Anchor"###F_SIZE2_6###><span>###_DICO_LABEL_TRES_TRES_GRANDE###</span></a>
</ul><span class="cdlButtons"><input type="submit" name="moretextsizes" value="###_DICO_BOUTON_PLUS_DE_TAILLES###" title="###_DICO_TITLE_BOUTON_PLUS_DE_TAILLES###"></span></div>
</div>
<div class="cdlConfigChoicesGroup">
<div class="cdlConfigChoice" id="cdlConfigChoiceFontColor"><ul>
<li id="cdlFontColorConfigBlack"###F_COLOR_000000###><a id="cdlFontColorConfigBlackAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlfc=000000&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlFontColorConfigBlackAnchor"###F_COLOR2_000000###><span>###_DICO_LABEL_TEXTE_NOIR###</span></a>
<li id="cdlFontColorConfigWhite"###F_COLOR_FFFFFF###><a id="cdlFontColorConfigWhiteAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlfc=FFFFFF&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlFontColorConfigWhiteAnchor"###F_COLOR2_FFFFFF###><span>###_DICO_LABEL_TEXTE_BLANC###</span></a>
<li id="cdlFontColorConfigGreen"###F_COLOR_009900###><a id="cdlFontColorConfigGreenAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlfc=009900&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlFontColorConfigGreenAnchor"###F_COLOR2_009900###><span>###_DICO_LABEL_TEXTE_VERT###</span></a>
<li id="cdlFontColorConfigYellow"###F_COLOR_FFFF00###><a id="cdlFontColorConfigYellowAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlfc=FFFF00&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlFontColorConfigYellowAnchor"###F_COLOR2_FFFF00###><span>###_DICO_LABEL_TEXTE_JAUNE###</span></a>
<li id="cdlFontColorConfigBlue"###F_COLOR_0000FF###><a id="cdlFontColorConfigBlueAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlfc=0000FF&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlFontColorConfigBlueAnchor"###F_COLOR2_0000FF###><span>###_DICO_LABEL_TEXTE_BLEU###</span></a>
<li id="cdlFontColorConfigRed"###F_COLOR_FF0033###><a id="cdlFontColorConfigRedAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdlfc=FF0033&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlFontColorConfigRedAnchor"###F_COLOR2_0000FF###><span>###_DICO_LABEL_TEXTE_ROUGE###</span></a>
</ul><span class="cdlButtons"><input type="submit" name="morefontcolors" value="###_DICO_BOUTON_PLUS_DE_COULEURS_TEXTE###" title="###_DICO_TITLE_BOUTON_PLUS_DE_COULEURS_TEXTE###"></span></div>
<div class="cdlConfigChoice" id="cdlConfigChoiceLinkColor"><ul>
<li id="cdlLinkColorConfigBlack"###L_COLOR_000000###><a id="cdlLinkColorConfigBlackAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdllc=000000&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlLinkColorConfigBlackAnchor"###L_COLOR2_000000###><span>###_DICO_LABEL_LIEN_NOIR###</span></a>
<li id="cdlLinkColorConfigWhite"###L_COLOR_FFFFFF###><a id="cdlLinkColorConfigWhiteAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdllc=FFFFFF&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlLinkColorConfigWhiteAnchor"###L_COLOR2_FFFFFF###><span>###_DICO_LABEL_LIEN_BLANC###</span></a>
<li id="cdlLinkColorConfigGreen"###L_COLOR_009900###><a id="cdlLinkColorConfigGreenAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdllc=009900&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlLinkColorConfigGreenAnchor"###L_COLOR2_009900###><span>###_DICO_LABEL_LIEN_VERT###</span></a>
<li id="cdlLinkColorConfigYellow"###L_COLOR_FFFF00###><a id="cdlLinkColorConfigYellowAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdllc=FFFF00&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlLinkColorConfigYellowAnchor"###L_COLOR2_FFFF00###><span>###_DICO_LABEL_LIEN_JAUNE###</span></a>
<li id="cdlLinkColorConfigBlue"###L_COLOR_0000FF###><a id="cdlLinkColorConfigBlueAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdllc=0000FF&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlLinkColorConfigBlueAnchor"###L_COLOR2_0000FF###><span>###_DICO_LABEL_LIEN_BLEU###</span></a>
<li id="cdlLinkColorConfigRed"###L_COLOR_FF0033###><a id="cdlLinkColorConfigRedAnchor" href="###EMBEDDED_URL###/personnalisation?cdlchangedisplay=1&amp;cdllc=FF0033&amp;cdlid=###SITE_ID###&amp;cdlurl=###URL_TO_PARSE####cdlLinkColorConfigRedAnchor"###L_COLOR2_0000FF###><span>###_DICO_LABEL_LIEN_ROUGE###</span></a>
</ul><span class="cdlButtons"><input type="submit" name="morelinkcolors" value="###_DICO_BOUTON_PLUS_DE_COULEURS_LIENS###" title="###_DICO_TITLE_BOUTON_PLUS_DE_COULEURS_LIEN###"></span></div>
</div>
</div>
<div class="cdlActions">
<span class="cdlButtons cdlAdvancedParameters"><input type="submit" name="cdladvancedparameters" value="###_DICO_PARAMETRES_AVANCES###"></span>
<span class="cdlButtons cdlValidate"><input type="submit" name="cdlvalidate" value="###_DICO_BOUTON_VALIDER###"></span>
</div>
</div>
<div class="cdlPreview">
<p><strong>###_DICO_TITRE_PREVISUALISATION###</strong></p>
<p>###_DICO_TEXTE_PREVISUALISATION###</p>
</div>
</div>
</div>
<hr><br class="cdlHidden">
</div>
</div>
<div class="cdlFoot">
<p class="cdlCopyright">&copy; ###CURRENT_YEAR### &mdash; confort de lecture
</div>
</div></div>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
jQuery.noConflict();
var bodyContrasted = jQuery('body').hasClass('cdlContrasted');
cdlBackgroundColor = '####B_COLOR###';
cdlFontColor = '####F_COLOR###';
cdlLinkColor = cdlFontColor;
cdlEmbeddedURL = '//###AUDIO_SERVER_NAME###';
cdlSiteId = '###SITE_ID###';
cdlIntroPaste = "###_DICO_TEXTE_CONTENU_CHAMP_APRES_COLLER###";
</script>
<script>
var backgroundColor = "###B_COLOR###";
var fontColor = "###F_COLOR###";
var linkColor = "###L_COLOR###";
var fontSize = "###F_SIZE_INDEX###";
jQuery('.cdlConfigChoice li a').bind('click', function () {
	var iconSize, htmlElt = jQuery('html');
	jQuery('.choiceSelected', jQuery(this).parent().parent()).removeClass('choiceSelected');
	jQuery('.linkChoiceSelected', jQuery(this).parent().parent()).removeClass('linkChoiceSelected');
	jQuery(this).parent().addClass('choiceSelected');
	jQuery(this).addClass('linkChoiceSelected');
	switch (jQuery(this).parent().attr('id')) {
	case "cdlBackgroundConfigBlack":backgroundColor="000000";break;
	case "cdlBackgroundConfigWhite":backgroundColor="FFFFFF";break;
	case "cdlBackgroundConfigGreen":backgroundColor="009900";break;
	case "cdlBackgroundConfigYellow":backgroundColor="FFFF00";break;
	case "cdlBackgroundConfigBlue":backgroundColor="0000FF";break;
	case "cdlBackgroundConfigRed":backgroundColor="FF0033";break;
	case "cdlFontColorConfigBlack":fontColor="000000";break;
	case "cdlFontColorConfigWhite":fontColor="FFFFFF";break;
	case "cdlFontColorConfigGreen":fontColor="009900";break;
	case "cdlFontColorConfigYellow":fontColor="FFFF00";break;
	case "cdlFontColorConfigBlue":fontColor="0000FF";break;
	case "cdlFontColorConfigRed":fontColor="FF0033";break;
	case "cdlLinkColorConfigBlack":linkColor="000000";break;
	case "cdlLinkColorConfigWhite":linkColor="FFFFFF";break;
	case "cdlLinkColorConfigGreen":linkColor="009900";break;
	case "cdlLinkColorConfigYellow":linkColor="FFFF00";break;
	case "cdlLinkColorConfigBlue":linkColor="0000FF";break;
	case "cdlLinkColorConfigRed":linkColor="FF0033";break;
	case "cdlTextSizeConfig1":fontSize="1";break;
	case "cdlTextSizeConfig2":fontSize="2";break;
	case "cdlTextSizeConfig3":fontSize="3";break;
	case "cdlTextSizeConfig4":fontSize="4";break;
	case "cdlTextSizeConfig5":fontSize="5";break;
	case "cdlTextSizeConfig6":fontSize="6";break;
	default: break;
	}
	jQuery('input[name="cdlbc"]').attr('value', backgroundColor);
	jQuery('input[name="cdlfc"]').attr('value', fontColor);
	jQuery('input[name="cdllc"]').attr('value', linkColor);
	jQuery('input[name="cdlfs"]').attr('value', fontSize);

	iconSize = 40+0.7*((fontSize - 1)*20);
	jQuery('.cdlUtilLinks svg').width(iconSize).height(iconSize).attr('fill', "#" + fontColor);

    var cdlLinkCssTag = document.createElement('link');
    cdlLinkCssTag.setAttribute('rel', "stylesheet");
    cdlLinkCssTag.setAttribute('href', '###EMBEDDED_URL###/styles/###SITE_ID###/custom_' + backgroundColor + '_' + fontColor + '_' + linkColor + '_' + fontSize + '_###L_SPACING###_###W_SPACING###_###L_HEIGHT###.css');
    cdlLinkCssTag.onload = function () {
        jQuery('#cdlCustomCssLink').remove();
        this.id = 'cdlCustomCssLink';
    };
	jQuery('#cdlCustomCssLink').after(cdlLinkCssTag);
    cdlLinkCssTag = document.createElement('link');
    cdlLinkCssTag.setAttribute('rel', "stylesheet");
    cdlLinkCssTag.setAttribute('href', '###EMBEDDED_URL###/styles/###SITE_ID###/personalization_' + fontSize + '.css');
    cdlLinkCssTag.onload = function () {
        jQuery('#cdlPersonalizationCssLink').remove();
        this.id = 'cdlPersonalizationCssLink';
    };
	jQuery('#cdlPersonalizationCssLink').after(cdlLinkCssTag);

	window.setTimeout(function () {
		htmlElt.niceScroll().remove();
		htmlElt.niceScroll({
			cursorwidth: 25,
			background: "transparent",
			cursorborder: "2px solid #" + backgroundColor,
			cursorcolor: "#" + fontColor,
			autohidemode: false,
			zindex: 114200
		});
	}, 300);


	return false;
});
</script>
<script src="###EMBEDDED_URL###/design/js/jquery/jquery.nicescroll.min.js"></script><!--###JS_AUDIO_FILE_INCLUDE###-->
<div class="lecteursAudioCDL cdlHidden" data-loadplayers="###LETTERS_PLAYERS_FILE###"></div>
<script src="###EMBEDDED_URL###/design/js/cdl/highlight.js"></script><!--/###JS_AUDIO_FILE_INCLUDE###-->
<script src="###EMBEDDED_URL###/javascript/title_###SITE_ID###_3.js"></script>
