<!doctype html>
<html lang="###LANGUAGE###">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Ouverture / Téléchargement d'un document &bull; Confort de lecture</title>
<meta name="robots" content="noindex,nofollow">
<link href="###EMBEDDED_URL###/favicon.png" rel="shortcut icon">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="###EMBEDDED_URL###/styles/default.css" rel="stylesheet">
<link href="###EMBEDDED_URL###/styles/###SITE_ID###/custom_###B_COLOR###_###F_COLOR###_###L_COLOR###_###F_SIZE###_###L_SPACING###_###W_SPACING###_###L_HEIGHT###.css" rel="stylesheet">
<link href="###EMBEDDED_URL###/styles/print.css" rel="stylesheet" media="print">
<script>
function _closeWindow() {
	window.open('','_parent','');
	window.close();
}
</script>
<body>
<div class="cdlUtilLinksContainer">
<div class="cdlUtilLinks">
<a href="###EMBEDDED_URL###/personnalisation-affichage###SECURE###/###PERSONALIZATION_URL###" accesskey="l" title="###_DICO_TITLE_PERSONNALISER_AFFICHAGE###">###DISPLAY_ICON###</a><!--###AUDIO_ACTIONS###-->
<a href="###EMBEDDED_URL###/personnalisation-audio###SECURE###/###PERSONALIZATION_URL###" accesskey="m" title="###_DICO_TITLE_PERSONNALISER_AUDIO###">###AUDIO_ICON###</a>
<a href="###EMBEDDED_URL###/personnalisation-aide-audio###SECURE###/###PERSONALIZATION_URL###" accesskey="m" title="###_DICO_TITLE_AIDE_AUDIO###">###AUDIO_HELP_ICON###</a>
<!-- <a href="###EMBEDDED_URL###/audio-document/###SITE_ID###/###CONTENT_TO_READ_WITH_ACAPELA###" class="cdlDownloadAudioLink" accesskey="t"><img src="###EMBEDDED_URL###/design/images/util_links_pictos/mp3_picto_###F_SIZE###.png" alt="Télécharger la page en MP3" title="Télécharger la page en MP3"></a> --><!--/###AUDIO_ACTIONS###-->
</div>
<!--###AUDIO###--><div class="cdlAudioContent">
<div class="cdlAudioObject">
<div class="cdlAudioObjectContent">
<div id="containerLecteurAudioCDL"></div>
<audio controls src="###EMBEDDED_URL###/audio-document/###SITE_ID###/###CONTENT_TO_READ_WITH_ACAPELA###" id="lecteurAudioCDL">
<object type="application/x-shockwave-flash" data="###EMBEDDED_URL###/design/player/cdl_player_###F_SIZE###.swf" width="###MP3_PLAYER_WIDTH###" height="###MP3_PLAYER_HEIGHT###" id="lecteurCDL" style="width:###MP3_PLAYER_WIDTH###px !important">
<param name="movie" value="###EMBEDDED_URL###/design/player/cdl_player_###F_SIZE###.swf">
<param name="wmode" value="transparent">
<param name="allowscriptaccess" value="always">
<param name="FlashVars" value="racineAudio=http://###AUDIO_SERVER_NAME###/audio-text/###SITE_ID###&amp;fgcolor=###F_COLOR###&amp;cursorSize=###F_SIZE_BROWSER_DEPENDS###&amp;mp3=http://###AUDIO_SERVER_NAME###/audio-document/###CONTENT_TO_READ_WITH_ACAPELA###">
</object>
</audio>
<script>
var lecteurAudioCDL = document.getElementById('lecteurAudioCDL');
if (lecteurAudioCDL && lecteurAudioCDL.play) {
	lecteurAudioCDL.style.display = 'none';
	lecteurAudioCDL.src = "";
	document.getElementById('containerLecteurAudioCDL').innerHTML = '<ul class="cdlAudioControls"><li><a href="#" class="cdlAudioPrevBloc cdlDisabled" title="###_DICO_BLOC_PRECEDENT###"><span>###_DICO_BLOC_PRECEDENT###</span></a><li><a href="#" class="cdlAudioPrevLine cdlDisabled" title="###_DICO_PHRASE_PRECEDENTE###"><span>###_DICO_PHRASE_PRECEDENTE###</span></a><li><a href="#" class="cdlAudioPlayPause cdlAudioPlay" title="###_DICO_LECTURE_PAUSE###"><span>###_DICO_LECTURE_PAUSE###</span></a><li><a href="#" class="cdlAudioStop cdlDisabled" title="###_DICO_STOPPER_LA_LECTURE###"><span>###_DICO_STOP###</span></a><li><a href="#" class="cdlAudioNextLine" title="###_DICO_PHRASE_SUIVANTE###"><span>###_DICO_PHRASE_SUIVANTE###</span></a><li><a href="#" class="cdlAudioNextBloc" title="###_DICO_BLOC_SUIVANT###"><span>###_DICO_BLOC_SUIVANT###</span></a></ul>';
}
</script>
</div>
</div>
</div>
<!--/###AUDIO###-->
</div>
<div class="cdlGlobalPage">
<div class="documentContent">
<div class="cdlCadreContainer">
<div class="cdlCadre">
<p><span class="cdlPartOfText">###_DICO_PHRASE_ACCES_DOCUMENT###</span> <strong>###DOCUMENT_TYPE###</strong>.
<br>
<p>Que souhaitez-vous faire ?
<ul>
<li><a href="###DOCUMENT_OPEN_URL###">###_DICO_LIEN_OUVRIR_DOCUMENT###</a>
<li><a href="###DOCUMENT_DOWNLOAD_URL###">###_DICO_LIEN_TELECHARGER_DOCUMENT###</a>
<!--###PREVIOUS_PAGE_BLOCK###--><li><a href="###PREVIOUS_PAGE###" onclick="if (history.length &gt; 1) {history.back();} else {_closeWindow();} return false;">###_DICO_LIEN_ANNULER_ET_RETOURNER###</a><!--/###PREVIOUS_PAGE_BLOCK###-->
</ul>
</div>
</div>
</div>
</div>
<div class="cdlFoot">
<p class="cdlCopyright">&copy; ###CURRENT_YEAR### &mdash; confort de lecture
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
jQuery.noConflict();
cdlBackgroundColor = '####B_COLOR###';
cdlFontColor = '####F_COLOR###';
cdlLinkColor = '####L_COLOR###';
cdlEmbeddedURL = '//###AUDIO_SERVER_NAME###';
cdlSiteId = '###SITE_ID###';
cdlIntroPaste = "###_DICO_TEXTE_CONTENU_CHAMP_APRES_COLLER###";
</script>
<script src="###EMBEDDED_URL###/design/js/jquery/jquery.nicescroll.min.js"></script>
<!--###JS_AUDIO_FILE_INCLUDE###--><script src="###EMBEDDED_URL###/design/js/cdl/highlight.js"></script>
<script>
jQuery('audio').prop('volume', 0.5);
jQuery(window).bind('load', function() {
	if (lecteurAudioParentHTML5 && lecteurAudioParentHTML5.pause) {
		window.opener.cdlPauseIt();
	} else if (parentMovie("lecteurCDL") && parentMovie("lecteurCDL").pauseIt) {
		parentMovie("lecteurCDL").pauseIt();
	}
	if (thisMovie("lecteurCDL")) {
		setTimeout("initLecture();lectureMorceau(currentIndice,'down','auto')",1000);
	}
});
</script>
<!--/###JS_AUDIO_FILE_INCLUDE###--><script src="###EMBEDDED_URL###/javascript/title_###SITE_ID###_###F_SIZE###.js"></script>
