<!doctype html>
<html lang="###LANGUAGE###">
###METAS###<title>###DOCUMENT_TITLE### &bull; Confort de lecture</title>
<base href="###BASE_HREF###">
###LINKS###
<link href="/styles/default.css" rel="stylesheet">
<link href="/styles/###SITE_ID###/custom_###B_COLOR###_###F_COLOR###_###F_SIZE###.css" rel="stylesheet">
<link href="/styles/print.css" rel="stylesheet" media="print">
<!--[if IE]>
<link href="/styles/ie.css" rel="stylesheet">
<![endif]-->
###SCRIPTS###<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script>(function(){var all=jQuery.event.props,len=all.length,res=[];while(len--){var el=all[len];if(el!='layerX'&&el!='layerY')res.push(el);}jQuery.event.props=res;}());</script>
<script>
jQuery.noConflict();
</script>
<script src="/design/js/jquery/jquery.address-1.5.min.js"></script>
<body###BODY_ATTRIBUTES###>
<div class="cdlUtilLinksContainer">
<div class="cdlUtilLinks">
<a href="/personnalisation-affichage/###PERSONALIZATION_URL###" accesskey="l"><img src="/design/images/util_links_pictos/display_picto_###F_SIZE###.png" alt="Personnaliser vos param&egrave;tres d'affichage" title="Personnaliser vos param&egrave;tres d'affichage"></a><!--###AUDIO_ACTIONS###-->
<a href="/personnalisation-audio/###PERSONALIZATION_URL###" accesskey="m"><img src="/design/images/util_links_pictos/audio_picto_###F_SIZE###.png" alt="Personnaliser vos param&egrave;tres audio" title="Personnaliser vos param&egrave;tres audio"></a>
<a href="/personnalisation-aide-audio/###PERSONALIZATION_URL###" accesskey="m"><img src="/design/images/util_links_pictos/help_picto_###F_SIZE###.png" alt="Aide audio" title="Aide audio"></a>
<!-- <a href="/audio-download/###SITE_ID###/###CONTENT_TO_READ_WITH_ACAPELA###" class="cdlDownloadAudioLink" accesskey="t"><img src="/design/images/util_links_pictos/mp3_picto_###F_SIZE###.png" alt="T&eacute;l&eacute;charger la page en MP3" title="T&eacute;l&eacute;charger la page en MP3"></a> --><!--/###AUDIO_ACTIONS###-->
</div>
<!--###AUDIO###--><div class="cdlAudioContent">
<div class="cdlAudioObject">
<div class="cdlAudioObjectContent" style="height:###DIV_MP3_PLAYER_HEIGHT###px">
<object type="application/x-shockwave-flash" data="/design/player/cdl_player_###F_SIZE###.swf" width="###MP3_PLAYER_WIDTH###" height="###MP3_PLAYER_HEIGHT###" id="lecteurCDL" style="width:###MP3_PLAYER_WIDTH###px !important">
<param name="movie" value="/design/player/cdl_player_###F_SIZE###.swf">
<param name="wmode" value="transparent">
<param name="allowscriptaccess" value="always">
<param name="FlashVars" value="racineAudio=http://###SERVER_NAME###/audio-text/###SITE_ID###/&amp;fgcolor=###F_COLOR###&amp;cursorSize=###F_SIZE_BROWSER_DEPENDS###&amp;mp3=http://###SERVER_NAME###/audio/###SITE_ID###/###CONTENT_TO_READ_WITH_ACAPELA###">
</object>
</div>
</div>
</div>
<!--/###AUDIO###--><div class="cdlClearBoth"></div>
</div>
<div class="cdlAllPageContainer"><div class="cdlAllPage">
<div class="cdlGlobalPage">
<div class="cdlTopPage">
###PAGE_TOP###</div>
<div class="cdlPageContent">
###BLOCS###</div>
<div class="cdlPageNavigation">
###NAVS###</div>
<div class="cdlBottomPage">
###PAGE_BOTTOM###</div>
<div class="cdlBackHome">
###BACK_HOME_LINK###
</div>
</div>
<div class="cdlFoot">
<p class="cdlCopyright">&copy; ###ANNEE_COURANTE### &mdash; confort de lecture
<div class="cdlClearBoth"></div>
</div>
</div></div>
<!--###JS_AUDIO_FILE_INCLUDE###--><script src="/design/js/cdl/highlight.js"></script>
<script>
jQuery(window).bind('load', function() {
	if (parentMovie("lecteurCDL")) {
		parentMovie("lecteurCDL").pauseIt();
	}
	if (thisMovie("lecteurCDL")) {
		initAnchorLinks();
		setTimeout("initLecture();lectureMorceau(currentIndice,'down','auto')",1000);
	}
});
</script>
<!--/###JS_AUDIO_FILE_INCLUDE###--><script src="/javascript/title_###SITE_ID###_###F_SIZE###.js"></script>
<script src="/design/js/cdl/anchor_links.js"></script>
