<!doctype html>
<html lang="###LANGUAGE###">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>###_DICO_TITLE_TAILLES_TEXTE### &bull; Confort de lecture</title>
<meta name="robots" content="noindex,nofollow">
<link href="###EMBEDDED_URL###/favicon.png" rel="shortcut icon">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link href="###EMBEDDED_URL###/styles/default.css" rel="stylesheet">
<link href="###EMBEDDED_URL###/styles/###SITE_ID###/custom_###B_COLOR###_###F_COLOR###_###L_COLOR###_###F_SIZE_INDEX###_###L_SPACING###_###W_SPACING###_###L_HEIGHT###.css" rel="stylesheet" id="cdlCustomCssLink">
<link href="###EMBEDDED_URL###/styles/###SITE_ID###/personalization_###F_SIZE_INDEX###.css" rel="stylesheet" id="cdlPersonalizationCssLink">
<link href="###EMBEDDED_URL###/styles/print.css" rel="stylesheet" media="print">
<body###CONTRAST_BODY_STYLE###>
<form action="###EMBEDDED_URL###/personnalisation###SECURE###" method="post" class="cdlFormPersonalization"><input type="hidden" name="cdlid" value="###SITE_ID###" class="cdlHidden"><input type="hidden" name="cdlurl" value="###URL_TO_PARSE###" class="cdlHidden"><input type="hidden" name="cdlfs" value="###SIZE_CHOSEN###" class="cdlHidden">
<div class="cdlUtilLinksContainer">
<div class="cdlUtilLinks">
<div class="cdlChangeDisplayButton" title="###_DICO_TITLE_PERSONNALISER_AFFICHAGE###">###DISPLAY_ICON###<input type="submit" id="cdlchangedisplay" name="cdlchangedisplay" value="1" accesskey="a"></div><!--###AUDIO_ACTIONS###-->
<div class="cdlChangeAudioButton" title="###_DICO_TITLE_PERSONNALISER_AUDIO###">###AUDIO_ICON###<input type="submit" id="cdlchangeaudio" name="cdlchangeaudio" value="1" alt="###_DICO_TITLE_PERSONNALISER_AUDIO###" accesskey="a"></div>
<div class="cdlChangeAudioHelpButton" title="###_DICO_TITLE_AIDE_AUDIO###">###AUDIO_HELP_ICON###<input type="submit" id="cdlchangeaudiohelp" name="cdlchangeaudiohelp" value="1" alt="###_DICO_TITLE_AIDE_AUDIO###" accesskey="h"></div><!--/###AUDIO_ACTIONS###-->
</div><!--###AUDIO###-->
<div class="cdlAudioContent">
<div class="cdlAudioObject">
<div class="cdlAudioObjectContent">
<div id="containerLecteurAudioCDL"></div>
<audio controls id="lecteurAudioCDL">
<object type="application/x-shockwave-flash" data="###EMBEDDED_URL###/design/player/cdl_player_3.swf" width="386" height="78" id="lecteurCDL" style="width:386px !important">
<param name="movie" value="###EMBEDDED_URL###/design/player/cdl_player_3.swf">
<param name="wmode" value="transparent">
<param name="allowscriptaccess" value="always">
<param name="FlashVars" value="racineAudio=http://###AUDIO_SERVER_NAME###/audio-text/###SITE_ID###&amp;fgcolor=###FLASH_FONT_COLOR###&amp;cursorSize=###FONT_SIZE_BROWSER_DEPENDS###">
</object>
</audio>
<script>
var lecteurAudioCDL = document.getElementById('lecteurAudioCDL');
if (lecteurAudioCDL && lecteurAudioCDL.play) {
	lecteurAudioCDL.style.display = 'none';
	lecteurAudioCDL.src = "";
	document.getElementById('containerLecteurAudioCDL').innerHTML = '<ul class="cdlAudioControls"><li><a href="#" class="cdlAudioPrevLine cdlDisabled" title="###_DICO_PHRASE_PRECEDENTE###"><span>###_DICO_PHRASE_PRECEDENTE###</span></a><li><a href="#" class="cdlAudioPlayPause cdlAudioPlay" title="###_DICO_LECTURE_PAUSE###"><span>###_DICO_LECTURE_PAUSE###</span></a><li><a href="#" class="cdlAudioStop cdlDisabled" title="###_DICO_STOPPER_LA_LECTURE###"><span>###_DICO_STOP###</span></a><li><a href="#" class="cdlAudioNextLine" title="###_DICO_PHRASE_SUIVANTE###"><span>###_DICO_PHRASE_SUIVANTE###</span></a></ul>';
}
</script>
</div>
</div>
</div><!--/###AUDIO###-->
</div>
<div class="cdlAllPageContainer" style="padding-top:###PAGE_MARGIN_TOP###px !important"><div class="cdlAllPage">
<div class="cdlGlobalPage">
<div class="cdlPageContent">
<div class="cdlPersonalizationHeader">
<h1 class="cdlSiteLogo"><a href="###SITE_URL###" title="###SITE_TITLE###" target="_blank"><img src="###SITE_LOGO###" alt="###SITE_TITLE###"></a></h1>
<div class="cdlLogoCdl"><img src="###EMBEDDED_URL###/design/images/logo_confortdelecture.svg" alt=""></div>
</div>
<div class="cdlCadreContainer">
<div class="cdlCadre">
<p class="cdlLittleArrow audioIntro"><strong>###_DICO_EXPLICATION_TAILLES_TEXTE###</strong>
<div class="cdlSizesForm">
<ul class="cdlSizes">###SIZE_LIST###</ul>
<div class="cdlActions">
<span class="cdlButtons cdlValidate"><input type="submit" id="cdlchangedisplay2" name="cdlchangedisplay" value="###_DICO_BOUTON_VALIDER###"></span>
<span class="cdlButtons cdlValidate"><input type="submit" name="cdlvalidate" value="###_DICO_BOUTON_VALIDER_ET_ACCEDER###"></span>
</div>
</div>
<div class="cdlPreview">
<p><strong>###_DICO_TITRE_PREVISUALISATION###</strong></p>
<p>###_DICO_TEXTE_PREVISUALISATION###</p>
</div>
</div>
</div>
<hr><br class="cdlHidden">
</div>
</div>
<div class="cdlFoot">
<p class="cdlCopyright">&copy; ###CURRENT_YEAR### &mdash; confort de lecture
</div>
</div></div>
</form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
jQuery.noConflict();
cdlBackgroundColor = '####B_COLOR###';
cdlFontColor = '####F_COLOR###';
cdlLinkColor = '####L_COLOR###';
cdlEmbeddedURL = '//###AUDIO_SERVER_NAME###';
cdlSiteId = '###SITE_ID###';
cdlIntroPaste = "###_DICO_TEXTE_CONTENU_CHAMP_APRES_COLLER###";
cdlAllPageContainer = jQuery('.cdlAllPageContainer');
cdlAllPageContainer.css('padding-top', cdlAllPageContainer.css('padding-top') + " !important");
jQuery('.cdlSizes li a').bind('click', function () {
	var iconSize, size = jQuery('.cdlSpanHidden span', jQuery(this)).html(), htmlElt = jQuery('html');

	jQuery('.cdlSizes .choiceSelected').removeClass('choiceSelected');
	jQuery(this).parent().addClass('choiceSelected');
	jQuery('input[name="cdlfs"]').attr('value', size);

	jQuery('#cdlCustomCssLink').after('<link href="###EMBEDDED_URL###/styles/###SITE_ID###/custom_###B_COLOR###_###F_COLOR###_###L_COLOR###_' + size + '_###L_SPACING###_###W_SPACING###_###L_HEIGHT###.css" rel="stylesheet" id="cdlCustomCssLink2"/>');
	window.setTimeout(function () {
		jQuery('#cdlCustomCssLink').remove();
		jQuery('#cdlCustomCssLink2').attr('id', 'cdlCustomCssLink');
	}, 300);
	jQuery('#cdlPersonalizationCssLink').after('<link href="###EMBEDDED_URL###/styles/###SITE_ID###/personalization_' + size + '.css" rel="stylesheet" id="cdlPersonalizationCssLink2"/>');
	window.setTimeout(function () {
		jQuery('#cdlPersonalizationCssLink').remove();
		jQuery('#cdlPersonalizationCssLink2').attr('id', 'cdlPersonalizationCssLink');
	}, 300);

	iconSize = 40+0.7*((size - 1)*20);
	jQuery('.cdlUtilLinks svg').width(iconSize).height(iconSize);

	window.setTimeout(function () {
		htmlElt.niceScroll().remove();
		htmlElt.niceScroll({
			cursorwidth: 25,
			background: "transparent",
			cursorborder: "2px solid " + cdlBackgroundColor,
			cursorcolor: cdlFontColor,
			autohidemode: false,
			zindex: 114200
		});
	}, 300);

	return false;
});
</script>
<script src="###EMBEDDED_URL###/design/js/jquery/jquery.nicescroll.min.js"></script><!--###JS_AUDIO_FILE_INCLUDE###-->
<div class="lecteursAudioCDL cdlHidden" data-loadplayers="###LETTERS_PLAYERS_FILE###"></div>
<script src="###EMBEDDED_URL###/design/js/cdl/highlight.js"></script><!--/###JS_AUDIO_FILE_INCLUDE###-->
<script src="###EMBEDDED_URL###/javascript/title_###SITE_ID###_3.js"></script>
